<li>
    <a href="{% url 'home' %}"><i class="fa fa-info"></i> <span>Inicio</span></a>
</li>
<li {% if opcion_menu == 23 %} class="active" {% endif %}>
    <a href="{% url 'resumen_proyecto' %}" onclick="mostrarBarraDeCarga();"><i class="fa fa-book"></i> <span>Resumen del Proyecto</span></a>
</li>
<li {% if opcion_menu == 13 %} class="active" {% endif %}>
    <a href="{% url 'tablero_control' '' %}" onclick="mostrarBarraDeCarga();"><i class="fa fa-th"></i> <span>Tablero de Control</span></a>
</li>
<li {% if opcion_menu == 24 %} class="active" {% endif %}>
    <a href="{% url 'acta_seguimiento' %}" onclick="mostrarBarraDeCarga();"><i class="fa fa-file-text"></i> <span>Actas de Reuniones de Seguimiento</span></a>
</li>


{# Cronogramas #}

<li class="has-sub {% if opcion_menu > 2 and opcion_menu < 5 %} active {% endif %}"
>
    <a href="javascript:;">
        <i class="fa fa-2x fa-calendar"></i> <span>Programación</span>
        <b class="caret pull-right"></b>
    </a>
    <ul class="sub-menu">
        <li {% if opcion_menu == 3 %} class="active" {% endif %}>
            <a href="{% url 'cronograma_diplomado' %}"><i class="fa fa fa-university"></i> Diplomado</a>
        </li>
        <li {% if opcion_menu == 4 %} class="active" {% endif %}>
            <a href="{% url 'cronograma_acompanamiento' %}"><i class="fa fa fa-folder-o"></i> Acompañamiento in situ</a>
        </li>
    </ul>
</li>
{# Gestion Cursos #}
<li {% if opcion_menu == 5 %} class="active" {% endif %}>
        <a href="{% url 'gestion' %}"><i class="fa fa-suitcase"></i>  <span>Gestion de Cursos</span></a>
</li>
{# Convocatorias #}
<li class="has-sub {% if opcion_menu >= 0 and opcion_menu < 3 %} active {% endif %}">
    <a href="javascript:;">
        <i class="fa fa-2x fa-folder-o"></i> <span>Convocatoria - Cohorte 1</span>
        <b class="caret pull-right"></b>
    </a>
    <ul class="sub-menu">
        {# Reporte Aspirantes Convocatoria 1 #}
        <li {% if opcion_menu == 1 %} class="active" {% endif %}>
            <a href="{% url 'dashboard' %}" onclick="mostrarBarraDeCarga();"><i class="fa fa-2x fa-flag-o"></i> <span>Resultado Convocatoria 1</span></a>
        </li>
        <li {% if opcion_menu == 0 %} class="active" {% endif %}>
            <a href="{% url 'iniciar_DE' %}" onclick="mostrarBarraDeCarga();"><i class="fa fa fa-university"></i> Inscripción ME</a>
        </li>
        {# Reporte ME #}
        <li {% if opcion_menu == 2 %} class="active" {% endif %}>
            <a href="{% url 'reporteME' %}" onclick="mostrarBarraDeCarga();"><i class="fa fa-users"></i> <span>Resultados Inscripción Maestros Estudiantes</span></a>
        </li>
    </ul>
</li>
<li class="has-sub {% if opcion_menu == 6 %} active {% endif %}">
    <a href="javascript:;">
        <i class="fa fa-2x fa-folder-o"></i> <span>Convocatoria - Cohorte 2</span>
        <b class="caret pull-right"></b>
    </a>
    <ul class="sub-menu">
        <li>
            <a href="http://convocatoria2.titaedpt.com.co/inscripcion/iniciar-inscripcion"><i class="fa fa fa-university"></i> Convocatoria Docentes2</a>
        </li>
        <li {% if opcion_menu == 6 %} class="active" {% endif %}>
            <a href="{% url 'dashboard2' %}" onclick="mostrarBarraDeCarga();"><i class="fa fa-2x fa-flag-o"></i> <span>Resultado Convocatoria 2</span></a>
        </li>
    </ul>
</li>
{# reportes encuestas #}
<li class="has-sub {% if opcion_menu == 8 %} active {% endif %}">
    <a href="javascript:;">
        <i class="fa fa-2x fa-files-o"></i> <span>Reporte Encuestas</span>
        <b class="caret pull-right"></b>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="{% url 'reporte_encuesta' 5 %}"><i class="fa fa-child"></i><i class="fa fa-child"></i> Alumnos</a>
        </li>
        <li class="">
            <a href="{% url 'reporte_encuesta' 6 %}"><i class="fa fa-umbrella"></i> Padres de Familia</a>
        </li>
        <li class="">
            <a href="{% url 'reporte_encuesta' 4 %}"><i class="fa fa-mortar-board"></i> Maestros Estudiantes</a>
        </li>
    </ul>
</li>

<li class="has-sub {% if opcion_menu == 10 %} active {% endif %}">
    <a href="javascript:;">
        <i class="fa fa-2x fa-cloud"></i> <span>Bilingüismo</span>
        <b class="caret pull-right"></b>
    </a>
    <ul class="sub-menu">
        <li class="{% if opcion_menu == 10 %} active {% endif %}">
            <a href="{% url 'reporteBilinguismo' %}" onclick="mostrarBarraDeCarga();"><i class="fa fa-child"></i><i class="fa fa-female"></i> Reporte Inscritos</a>
        </li>
    </ul>
</li>