<li {% if opcion_menu == 1 %} class="active" {% endif %}>
	<a href="{% url 'home' %}"><i class="fa fa-info"></i> <span>Inicio</span></a>
</li>
<li {% if opcion_menu == 2 %} class="active" {% endif %}>
	<a href="{% url 'info_antecedentes' %}"><i class="fa fa-users"></i> <span>Antecedentes</span></a>
</li>
<li {% if opcion_menu == 3 %} class="active" {% endif %}>
	<a href="{% url 'info_general' %}"><i class="fa fa-check"></i> <span>Información general</span></a>
</li>
<li {% if opcion_menu == 4 %} class="active" {% endif %}>
	<a href="{% url 'info_calendario' %}"><i class="fa fa-2x fa-calendar"></i> <span>Calendario</span></a>
</li>
<li {% if opcion_menu == 5 %} class="active" {% endif %}>
	<a href="{% url 'info_requisitos' %}"><i class="fa fa-list-ol"></i> <span>Requisitos</span></a>
</li>

<li {% if opcion_menu == 6 %} class="active" {% endif %}>
	<a href="{% url 'iniciarInscripcion' %}"><i class="fa fa-pencil-square-o"></i> <span>Formulario Convocatoria</span></a>
</li>

<li {% if opcion_menu == 8 %} class="active" {% endif %}>
	<a href="{% url 'info_contactenos' %}"><i class="fa fa-2x fa-question-circle"></i> <span>Contáctenos</span></a>
</li>

{% comment %}
Diseño de DashBoard y Reportes
{% endcomment %}

<li class="has-sub {% if opcion_menu == 9 %} active {% endif %}">
	<a href="javascript:;">
	    <i class="fa fa-folder-open-o"></i> 
	    <b class="caret pull-right"></b>
	    <span>Reportes</span> 
	</a>
	<ul class="sub-menu" {% if opcion_menu == 9 %} class="active" {% endif %}>
		<li {% if opcion_menu == 9 %} class="active" {% endif %}><a href="{% url 'dashboard' %}">Resultado Convocatoria</a></li>
		<li {% if opcion_menu == 10 %} class="active" {% endif %}><a href="{% url 'inscripcion_docente_estudiante' %}">Inscripcion de Docentes-Estudiantes</a></li>
		<li><a href="javascript:;">Conformación de Grupos</a></li>
	</ul>
</li>
