<li {% if opcion_menu == 1 %} class="active" {% endif %}>
	<a href="{% url 'home' %}"><i class="fa fa-info"></i> <span>Información General</span></a>
</li>
<li {% if opcion_menu == 2 %} class="active" {% endif %}>
	<a href="{% url 'info_objetivos' %}"><i class="fa fa-check"></i> <span>Objetivos</span></a>
</li>
<li {% if opcion_menu == 3 %} class="active" {% endif %}>
	<a href="{% url 'info_funciones' %}"><i class="fa fa-users"></i> <span>Funciones de Maestros</span></a>
</li>
<li {% if opcion_menu == 4 %} class="active" {% endif %}>
	<a href="{% url 'info_requisitos' %}"><i class="fa fa-list-ol"></i> <span>Requisitos</span></a>
</li>
{% comment %}
<li {% if opcion_menu == 5 %} class="active" {% endif %}>
	<a href="{% url 'info_registrarse' %}"><i class="fa fa-pencil-square-o"></i> <span>Registrarse</span></a>
</li>
{% endcomment %}
<li {% if opcion_menu == 6 %} class="active" {% endif %}>
	<a href="{% url 'iniciarInscripcion' %}"><i class="fa fa-pencil-square-o"></i> <span>Formulario Convocatoria</span></a>
</li>