
<li {% if opcion_menu == 1 %} class="active" {% endif %}>
	<a href="{% url 'home' %}"><i class="fa fa-info"></i> <span>Inicio</span></a>
</li>

<li class="has-sub {% if opcion_menu >= 'encuesta_' and opcion_menu < 'encuestz' %} active {% endif %}">
	<a href="javascript:;">
		<i class="fa fa-2x fa-dot-circle-o"></i> <span>Encuestas</span>
		<b class="caret pull-right"></b>
	</a>
	<ul class="sub-menu">
		<li {% if opcion_menu == 'encuesta_nuevo_estudiante' %} class="active" {% endif %}>
			<a href="{% url 'encuesta_nuevo_estudiante' %}"><i class="fa fa-child"></i><i class="fa fa-child"></i> Alumnos</a>
		</li>
		<li {% if opcion_menu == 'encuesta_nuevo_padre' %} class="active" {% endif %}>
			<a href="{% url 'encuesta_nuevo_padre' %}"><i class="fa fa-umbrella"></i> Padres de Familia</a>
		</li>
		<li {% if opcion_menu == 'encuesta_nuevo_maestro' %} class="active" {% endif %}>
			<a href="{% url 'encuesta_nuevo_maestro' %}"><i class="fa fa-mortar-board"></i> Maestros Estudiantes</a>
		</li>
	</ul>
</li><!--{# url 'reporte_encuesta' #}-->


{% if visible == 9 %}
<li {% if opcion_menu == 9 %} class="active" {% endif %}>
	<a href="{% url 'dashboard' %}"><i class="fa fa-2x fa-flag-o"></i> Resultado Convocatoria1</a>
</li>
{% endif %}
{% if visible == 10 %}
<li {% if opcion_menu == 10 %} class="active" {% endif %}>
	<a href="{% url 'dashboard2' %}"><i class="fa fa-2x fa-flag-o"></i> Resultado Convocatoria 2</a>
</li>
{% endif %}

{% if visible == 12 %}
<li class="has-sub active " {% if opcion_menu == 'cronograma_' %} class="active" {% endif %}>
	<a href="javascript:;">
		<i class="fa fa-2x fa-calendar"></i>Programación
		<b class="caret pull-right"></b>
	</a>
	<ul class="sub-menu">
		<li {% if opcion_menu == 'cronograma_diplomado' %} class="active" {% endif %}>
			<a href="{% url 'cronograma_diplomado' %}"><i class="fa fa fa-university"></i> Diplomado</a>
		</li>
		<li {% if opcion_menu == 'cronograma_acompanamiento' %} class="active" {% endif %}>
			<a href="{% url 'cronograma_acompanamiento' %}"><i class="fa fa fa-folder-o"></i> Acompañamiento in situ</a>
		</li>
	</ul>
</li>

{% endif %}

{% if visible == 13 %}
<li {% if opcion_menu == 13 %} class="active" {% endif %}>
        <a href="{% url 'tablero_control' %}"><i class="fa fa-cogs"></i> <span>Tablero de Control</span></a>
</li>
{% endif %}

{% if visible == 14 %}
<li {% if opcion_menu == 14 %} class="active" {% endif %}>
        <a href="{% url 'reporteME' %}"><i class="fa fa-users"></i> <span>Resultados Inscripción Maestros Estudiantes</span></a>
</li>
{% endif %}
