<li {% if opcion_menu == 1 %} class="active" {% endif %}>
    <a href="{% url 'home' %}" onclick="mostrarBarraDeCarga();"><i class="fa fa-info"></i> <span>Inicio</span></a>
</li>
<li {% if opcion_menu == 23 %} class="active" {% endif %}>
    <a href="{% url 'resumen_proyecto' %}" onclick="mostrarBarraDeCarga();"><i class="fa fa-book"></i> <span>Resumen del Proyecto</span></a>
</li>
<li {% if opcion_menu == 13 %} class="active" {% endif %}>
    <a href="{% url 'tablero_control' '' %}" onclick="mostrarBarraDeCarga();"><i class="fa fa-th"></i> <span>Tablero de Control</span></a>
</li>
<li {% if opcion_menu == 24 %} class="active" {% endif %}>
    <a href="{% url 'acta_seguimiento' %}" onclick="mostrarBarraDeCarga();"><i class="fa fa-file-text"></i> <span>Actas de Reuniones de Seguimiento</span></a>
</li>
