{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %} Modificación de Curso {% endblock %}

{% block menu %}
    {% include "menus/publico.html" with opcion_menu=2 %}
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    {{form.media}} {# agrega los js y css necesarios para el bootstrap3 datetimepicker #}
{% endblock %}

{% block js %}
    {% if solo_lectura%}
    <script>
        $(function(){
            $("select").attr("disabled", "disabled");
            $("input").attr("readonly", "readonly");
        });
    </script>

    {% endif %}
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li><a href="{% url 'cronograma_acompanamiento' %}">Programación acompañamiento</a></li>
    <li class="active">Modificación de Visita</li>
{% endblock %}

{% block titulo_contenido %}Modificación de Visita{% endblock %}

{% block titulo_panel %}<i class="fa fa-lightbulb-o"></i> Modificación{% endblock %}
{% block contenido_panel %}

<script type="text/javascript">
        function mensajeConfirmacion() {
            if (confirm("Está seguro de eliminar el evento?") == true) {
                $("#1").attr("value","2");
                console.log($("#1").val());
            }
            else {
                $("#1").attr("value","1");
                console.log($("#1").val());
            } 
        }
        
</script>

    <form class="form-horizontal" method="post">{% csrf_token %}

        
        
        {% bootstrap_form form layout="horizontal" %}

        <br><br>
        <center>

        <a href="{% url 'cancelar_clase_acompanamiento' curso %} " class="btn btn-inverse m-r-5"><i class="fa fa-times"></i>Cancelar Sesión</a>

        

        <br><br><br>

        Ver soporte: 
        
        <a target="_blank" href="/media/{{url}}" >Descargar Soporte de la Clase</a>
    </center>
        <br><br>

         
        <button name = "boton" class="btn btn-lg btn-warning pull-right" type="submit" value ="0">Modificar <i class="fa fa-angle-right"></i></button>         
        <a href= "{% url 'cronograma_acompanamiento_modificar' %}"><button name = "boton" id = "1" onclick=mensajeConfirmacion() class="btn btn-lg btn-danger pull-right" type="submit" value="1">Eliminar</button></a>
        <a href= "{% url 'cronograma_acompanamiento' %} " class="btn btn-lg btn-primary pull-right" >Volver</a>
        
    </form>
{% endblock %}