{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %} Actividades y Asistencia {% endblock %}

{% block menu %}
    {% include "menus/publico.html" with opcion_menu=3 %}
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    {{form.media}} {# agrega los js y css necesarios para el bootstrap3 datetimepicker #}
{% endblock %}

{% block js %}
    {% if solo_lectura%}
    <script>
        $(function(){
            $("select").attr("disabled", "disabled");
            $("input").attr("readonly", "readonly");
        });
    </script>

    {% endif %}
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li><a href="{% url 'cronograma_diplomado' %}">Programacion acompañamiento</a></li>
    <li><a href="{% url 'cronograma_diplomado_soportes' %}?v={{clase}}">Panel de Control Formadores</a></li>
    <li class="active">Actividades</li>
{% endblock %}

{% block titulo_contenido %}Actividades y Asistencia{% endblock %}

{% block titulo_panel %}<i class="fa fa-lightbulb-o"></i> Actividades y Asistencia{% endblock %}
{% block contenido_panel %}

<form class="form-horizontal"  enctype="multipart/form-data" method="post">{% csrf_token %}
    <table class="table table-hover">
                <tr>
                    <td >Estudiante </td>    
                    <td >Actividad 1</td>
                    <td >Actividad 2</td>
                    <td >Actividad 3</td>
                    <td >Actividad 4</td>
                   
                     
                </tr>
                {% for estudiante in estudiante_list %}
                <tr>
                    <td >{{estudiante.nombre1}} {{estudiante.apellido1}} </td>    
                    <td >{{form.actividad1}}</td>
                    <td >{{form.actividad2}}</td>
                    <td >{{form.actividad3}}</td>
                    <td >{{form.actividad4}}</td>
                    
                   
                    
                </tr>
                {% endfor%}


    </table>

    <button class="btn btn-lg btn-primary pull-right" type="submit">Finalizar </button>
    
    </form>
{% endblock %}