{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %} Cancelar Clase {% endblock %}

{% block menu %}
    {% include "menus/publico.html" with opcion_menu=3 %}
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    {{form.media}} {# agrega los js y css necesarios para el bootstrap3 datetimepicker #}
{% endblock %}

{% block js %}
    {% if solo_lectura%}
    <script>
        $(function(){
            $("select").attr("disabled", "disabled");
            $("input").attr("readonly", "readonly");
        });
    </script>

    {% endif %}
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li class="active">Cancelar Clase</li>
{% endblock %}

{% block titulo_contenido %}Cancelar Clase{% endblock %}

{% block titulo_panel %}<i class="fa fa-lightbulb-o"></i> Cancelar Clase{% endblock %}
{% block contenido_panel %}


    
    Se recomienda que después de cancelar la clase <b>añada</b> una nueva para reponerla.
    </h5>
    <br>

    <form class="form-horizontal"  enctype="multipart/form-data" method="post">{% csrf_token %}
        <br><br>
        <table class="table table-hover">
            <tr>
                <td style="width:300px; padding-right:30px;">
                    <strong>Motivos de cancelación de la clase:</strong><br>
                     
                </td>
                <td style="width:400px"><textarea class="form-control" cols="40" id="motivos" name="motivos" placeholder="Escriba aquí los Motivos de Cancelación de la Clase" rows="4" title=""></textarea></td>
                 
            </tr>


        </table>
        <center>
            <button class="btn btn-info btn-lg m-r-5" type="submit">  Cancelar</button>
        </center>
        

        <br>
    </form>
    <br>
    
    
{% endblock %}