{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %} Añadir Curso {% endblock %}

{% block menu %}
    {% include "menus/publico.html" with opcion_menu=19 %}
{% endblock %}

{% block css %}
    
    <!--- ñiiipi -->
    {{form.media}} {# agrega los js y css necesarios para el bootstrap3 datetimepicker y select2 #}
    <!--- :D -->
{% endblock %}

{% block js %}
    {% if solo_lectura%}
    <script>
        $(function(){
            $("select").attr("disabled", "disabled");
            $("input").attr("readonly", "readonly");
        });
        $( document ).ready(function() {
            $("#id_estudiantes").attr('height', '10px');
            $("#id_estudiantes").attr('overflow-y', 'scroll');
        });
    </script>

    {% endif %}

    <script type="text/javascript">
        $( document ).ready(function() {
            var estudiantes = (("{{estudiantes}}").replace(/&(l|g|quo)t;/g, function(a,b){
                return {
                    l   : '<',
                    g   : '>',
                    quo : '"'
                }[b];
            }));
            estudiantes = JSON.parse(estudiantes)
            checks = $(".checkbox");
            for(var i = 0; i < estudiantes.length; i++){
                for(var j = 0; j < checks.length; j++){
                    checks[j].innerHTML = checks[j].innerHTML.replace(estudiantes[i].nombre, estudiantes[i].nombre+"("+estudiantes[i].cc+")")
                }

            }

        });
    </script>
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li ><a href="{% url 'gestion' %}">Gestión</a></li>
    <li ><a href="{% url 'gestion_cursos' %}">Gestión de Cursos</a></li>
    <li class = "active">Añadir un Curso</li>

{% endblock %}

{% block titulo_contenido %}Cursos{% endblock %}

{% block previo_contenido_panel %}
    
{% endblock %}

{% block titulo_panel %}<i class="fa fa-user"></i> Añadir Curso{% endblock %}
{% block contenido_panel %}

    {% if request.POST %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            Faltan algunos campos por ingresar correctamente. Verifique los campos en color Rojo
        </div>
    {% endif %}

    <br><br>


    <form class="form-horizontal" method="post">{% if solo_lectura %} {% else %} {% csrf_token %} {% endif %}
        {% bootstrap_field form.descripcion layout="horizontal" %}
        {% bootstrap_field form.institucion layout="horizontal" %}
        {% bootstrap_field form.formador1 layout="horizontal" %}
        {% bootstrap_field form.formador2 layout="horizontal" %}
        
        {% if cohorte != '3' and cohorte != '4' %}
        <div style="width:auto;height:200px;overflow-y:scroll;overflow-x:hidden; margin-bottom:10px">
            {% bootstrap_field form.estudiantes layout="horizontal" %}
        </div>
        {% else %}
        <div style="width:auto;height:200px;overflow-y:scroll;overflow-x:hidden; margin-bottom:10px">
            {% bootstrap_field form.estudiantes_bilinguismo layout="horizontal" %}
        </div>
        {% endif %}
        {% comment %}
        <div class="row">
            <div class="col-xs-6">
                <b>Información de las Jornadas e Instituciones por Estudiantes</b><br>
                {% for info in infos %}
                    {{forloop.counter}}) {{info.estudiante}} ({{info.get_sede_display}} - {{info.get_jornada_display}})<br>
                {% endfor %}
            </div>
        </div>
        {% endcomment %}

        {% if solo_lectura %}
            
        {% else %}
            <button class="btn btn-lg btn-primary pull-right" type="submit">Guardar <i class="fa fa-angle-right"></i></button>
        {% endif %}
    </form>
{% endblock %}
