{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %} Detalles Curso {% endblock %}

{% block menu %}
    {% include "menus/publico.html" with opcion_menu=20 %}
{% endblock %}

{% block css %}
    
    <!--- ñiiipi -->
    {{form.media}} {# agrega los js y css necesarios para el bootstrap3 datetimepicker y select2 #}
    <!--- :D -->
{% endblock %}

{% block js %}
    {% if solo_lectura%}
    <script>
        $(function(){
            $("select").attr("disabled", "disabled");
            $("input").attr("readonly", "readonly");
        });
    </script>

    {% endif %}
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li class="active">Detalles Curso</li>
{% endblock %}

{% block titulo_contenido %}Detalles Curso{% endblock %}

{% block previo_contenido_panel %}
    
{% endblock %}

{% block titulo_panel %}<i class="fa fa-user"></i> Detalles Curso{% endblock %}
{% block contenido_panel %}
{% if x == 1 %}

        <div class="alert alert-warning fade in m-b-15">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            Uno de los formadores seleccionados ya fue asignado a otro curso.
        </div>
{% endif %}
    <form class="form-horizontal" method="post">{% csrf_token %}
        {% bootstrap_field form.descripcion layout="horizontal" %}
        {% bootstrap_field form.institucion layout="horizontal" %}
        {% bootstrap_field form.formador1 layout="horizontal" %}
        {% bootstrap_field form.formador2 layout="horizontal" %}
        <div style="width:auto;height:200px;overflow-y:scroll;overflow-x:hidden; margin-bottom:10px">
            {% bootstrap_field form.estudiantes layout="horizontal" %}
        </div>
            
        
        <a href= "{% url 'gestion_cursos' %}">
            <button name = "boton" id = "1" class="btn btn-lg btn-warning pull-right" type="submit" value="0">
                Modificar
            </button>
        </a>
        <a href= "{% url 'gestion_cursos' %}">
            <button name = "boton" id = "1" onclick=mensajeConfirmacion() class="btn btn-lg btn-danger pull-right" type="submit" value="1">
                Eliminar
            </button>
        </a>
        <a href= "{% url 'gestion_cursos' %} " class="btn btn-lg btn-primary pull-right" >Volver</a>
    </form>
{% endblock %}
