{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %} Panel de Control {% endblock %}

{% block menu %}
    {% include "menus/publico.html" with opcion_menu=3 %}
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    {{form.media}} {# agrega los js y css necesarios para el bootstrap3 datetimepicker #}
{% endblock %}

{% block js %}
    {% if solo_lectura%}
    <script>
        $(function(){
            $("select").attr("disabled", "disabled");
            $("input").attr("readonly", "readonly");
        });
    </script>

    {% endif %}
{% endblock %}

{% block miga_pan %}

    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li><a href="{% url 'cronograma_diplomado' %}">Programacion diplomado</a></li>
    <li class="active">Panel de Control Formadores</li>
{% endblock %}


{% block titulo_contenido %}Panel de Control{% endblock %}

{% block titulo_panel %}<i class="fa fa-lightbulb-o"></i> Panel de Control{% endblock %}
{% block contenido_panel %}


    <h4><b>Soportes</b></h4>
    Se recomienda que comprima todos los archivos en una carpeta <b>ZIP</b>, o añadirlo todo a un documento y subirlo en formato <b>PDF</b>.
    </h5>
    <br>

    <form class="form-horizontal"  enctype="multipart/form-data" method="post">{% csrf_token %}
        <br><br>
        <table class="table table-hover">
            <tr>
                <td >
                    <strong>Adjunte la certificación:</strong><br>
                     
                </td>
                <td style="width:400px">{{form.archivo }}</td>
                 <td style="width:60px"><button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-upload"></i>  Subir Archivo</button></td> 
            </tr>


        </table>

        <br>
    </form>
    <br>
    <center>
    <a href="{% url 'asistencia' curso clase %} " class="btn btn-success btn-lg m-r-5">Asistencia y Actividades</a>
    <a href="{% url 'lista_estudiantes' clase %} " class="btn btn-info btn-lg m-r-5">Ver Lista de Estudiantes</a>
    </center>
    
{% endblock %}

