{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %} Gestión de Cursos {% endblock %}

{% block menu %}
    {% include "menus/publico.html" with opcion_menu=20 %}
{% endblock %}

{% block css %}
    
    <!--- ñiiipi -->
    {{form.media}} {# agrega los js y css necesarios para el bootstrap3 datetimepicker y select2 #}
    <!--- :D -->
{% endblock %}

{% block js %}
    {% if solo_lectura%}
    <script>
        $(function(){
            $("select").attr("disabled", "disabled");
            $("input").attr("readonly", "readonly");
        });
    </script>

    {% endif %}
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li ><a href="{% url 'gestion' %}">Gestión</a></li>
    <li class="active">Gestión de Cursos</li>
{% endblock %}

{% block titulo_contenido %}Gestión de Cursos{% endblock %}

{% block previo_contenido_panel %}
    
{% endblock %}

{% block titulo_panel %}<i class="fa fa-user"></i> Ver Cursos{% endblock %}
{% block contenido_panel %}

    

                    <table  class = "table">
                    <tr>
                        <thead>
                            <td class="info">
                                Curso
                            </td>
                            <td class="info">
                                Institución
                            </td>
                            <td class="info">
                                Formadores
                            </td>
                            <td class="info">
                                -
                            </td>
                           
                        </thead>
                    </tr>
            {% for curso in curso_list %}
                    <tr>
                        <tbody>
                            <td >
                                {{ curso.descripcion }}
                            </td>
                            <td >
                                {{ curso.institucion }}
                            </td>
                            <td >
                                {{ curso.formador1 }} <br>

                                {% if curso.formador2 %}
                                    {{ curso.formador2 }}
                                {% else %}
                                    No definido
                                {% endif %}
                            </td>
                            <td >
                               
                                <a href= "{% url 'detalle_curso' curso.id  %}"  >Ver detalles</a>
                                
                            </td>
                        
                    {% endfor %}
                    </tbody>
                    </tr>
                </table><br>

                <a href= "{% url 'prev_add_curso' %} " class="btn btn-lg btn-primary pull-right" >Añadir un curso</a>


                
                    
                
                

{% endblock %}



