{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %} Gestión de Formadores {% endblock %}

{% block menu %}
    {% include "menus/publico.html" with opcion_menu=20 %}
{% endblock %}

{% block css %}
    
    <!--- ñiiipi -->
    {{form.media}} {# agrega los js y css necesarios para el bootstrap3 datetimepicker y select2 #}
    <!--- :D -->
{% endblock %}

{% block js %}
    {% if solo_lectura%}
    <script>
        $(function(){
            $("select").attr("disabled", "disabled");
            $("input").attr("readonly", "readonly");
        });
    </script>

    {% endif %}
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li class="active">Gestión de Formadores</li>
{% endblock %}

{% block titulo_contenido %}Gestión de Formadores{% endblock %}

{% block previo_contenido_panel %}
    
{% endblock %}

{% block titulo_panel %}<i class="fa fa-user"></i> Ver Formadores{% endblock %}
{% block contenido_panel %}

    

                    <table  class = "table">
                    <tr>
                        <thead>
                            <td class="info">
                                Nombre
                            </td>
                            <td class="info">
                                Apellido
                            </td>
                            <td class="info">
                                -
                            </td>
                           
                        </thead>
                    </tr>
            {% for formador in formador_list %}
                    <tr>
                        <tbody>
                            <td >
                                {{ formador.nombre1 }} {{ formador.nombre2 }}
                            </td>
                            <td >
                                {{ formador.apellido1 }} {{ formador.apellido2 }}
                            </td>
                            
                            <td >
                               
                                <a href= "{% url 'detalle_formador' formador.id  %}"  >Ver detalles</a>
                                
                            </td>
                        
                    {% endfor %}
                    </tbody>
                    </tr>
                </table><br>

                <a href= "{% url 'add_formador' %} " class="btn btn-lg btn-primary pull-right" >Añadir un formador</a>


                
                    
                
                

{% endblock %}

