

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Tit@: Desarrollo y Educaci&oacute;n Digital Para Todos.</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Proyecto TITA - Formación docente en pedagogía mediada con tecnologías de la información y la comunicación" name="description" />
    <meta content="Cedesoft" name="author" />

    <link rel="icon" type="image/png" href="{{STATIC_URL}}img/favicon.png">

    <script src="{{STATIC_URL}}plugins/jquery-1.8.2/jquery-1.8.2.min.js"></script>
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="{{STATIC_URL}}plugins/jquery-ui-1.10.4/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}plugins/bootstrap-3.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}plugins/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/animate.min.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/style.css?v=1" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/style-responsive.min.css" rel="stylesheet" />
    <style>
        b.titulo {
            color:rgb(30,85,146);
            font-weight:900;
            font-size:25px;
            margin-top:20px;
            text-overflow:ellipsis;
            white-space: nowrap;
            width:auto;
        }

        .in {
            background-color:white
        }

        .row-centered {
            text-align:center;
        }
        .col-centered {
            display:inline-block;
            float:none;
            /* reset the text-align */
            text-align:left;
            /* inline-block space fix */
            margin-right:-4px;
        }
    </style>
    <!-- ================== END BASE CSS STYLE ================== -->
</head>
<body class="in">
    <!-- begin #page-container -->
    <div id="page-container" {# class="fade" #} >
        <!-- begin #header -->
        <div id="header" class="header navbar navbar-default navbar-fixed-top">
            <!-- begin container-fluid -->
            <div class="container-fluid">
                <!-- begin mobile sidebar expand / collapse button -->
                <div class="navbar-header">
                    <b class="titulo">TIT@ <small>DESARROLLO Y EDUCACIÓN DIGITAL PARA TODOS</small></b>
                </div>
                <!-- end mobile sidebar expand / collapse button -->
            </div>
            <!-- end container-fluid -->
        </div>
        <!-- end #header -->
        <!-- begin #content -->
        <div id="content" style="background-color:white">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1">
                        <div style="margin-top:10px;">
                            <img class="img-responsive" src="{{STATIC_URL}}img/tita-small.png?v=2" alt=""
                                style=" border-radius:10px;"/>
                        </div>
                    </div>
                    <div class="col-md-11" style="background-color:#225894;">
                        <h3 style="color:white;">
                            {{curso}} - {{clase}} 
                            </h3>
                            <h4 style="color:white;"><br> 
                                Institución: {{institucion}}<br>
                                Formador(es): {{formador1}} - {{formador2}}</h4>
                            {% if user_group == "Formador" %}
                            <h5 class="pull-right" style="color:white;">Fecha de la clase: {{clase_fecha}}</h5>
                            {%endif%}
                        </h3>
                    </div>
                </div>
                <br/><br/><br/>

                <h4>Lista de Maestros Estudiantes</H4>

                <br/><br/>

                <div class="col-md-8" >
               
                    <table class="table table-hover">
                        <tr>
                            <thead>
                            <td >
                                Estudiante                     
                            </td>
                            <td >
                                Cédula                     
                            </td>
                            {% if user_group == "Formador" %}
                            <td >
                                Firma                     
                            </td>
                            {%endif%}
                        </tr>
                        </thead>          

                    {% if cursoTotal.cohorte != 3 %}
                        {%for estudiante in estudiante_list%}
                            <tr>
                                <tbody>
                                <td >
                                {{forloop.counter}} {{estudiante.nombre1}} {{estudiante.apellido1}}                     
                                </td>
                                <td >
                                    {{estudiante.numero_documento}}                
                                </td>
                                {% if user_group == "Formador" %}
                                <td >
                                                         
                                </td>
                                {%endif%}
                            </tbody>
                            </tr> 

                        {%endfor%}
                    {% else %}
                        {%for estudiante in cursoTotal.estudiantes_bilinguismo.all %}
                        <tr>
                                <tbody>
                                <td >
                                {{forloop.counter}} {{estudiante.nombre1}} {{estudiante.apellido1}}                     
                                </td>
                                <td >
                                    {{estudiante.numero_documento}}                
                                </td>
                                {% if user_group == "Formador" %}
                                <td >
                                                         
                                </td>
                                {%endif%}
                            </tbody>
                            </tr> 

                        {%endfor%}
                    {% endif %}
                    </table>


                </div>
            </div>
            <hr>
            <img class="img-responsive center-block" src="{{STATIC_URL}}img/footer.png?v=2"  style="width:80%; border-radius:10px;" >
            <h6 class="text-center">Contacto: <a href="mailto:titaedpt@gmail.com">titaedpt@gmail.com</a></h6>
        </div>
        <!-- end #content -->
    </div>
    <!-- end page container -->

    <!-- ================== BEGIN BASE JS ================== -->

    <script src="{{STATIC_URL}}plugins/jquery-ui-1.10.4/ui/minified/jquery-ui.min.js"></script>
    <script src="{{STATIC_URL}}plugins/bootstrap-3.1.1/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="{{STATIC_URL}}crossbrowserjs/html5shiv.js"></script>
        <script src="{{STATIC_URL}}crossbrowserjs/respond.min.js"></script>
        <script src="{{STATIC_URL}}crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="{{STATIC_URL}}plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- ================== END BASE JS ================== -->

    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="{{STATIC_URL}}js/apps.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
        <!-- Bloque de javascript para las plantillas que heredan -->
    {% block js %}
    {% endblock %}
    <!-- Fin Bloque javascript -->
    {% block js_ready %}
    <script>
        $(document).ready(function() {
            App.init();
        });
        {% comment %}
        function mensaje(titulo, mensaje){
            $.gritter.add({
                title: titulo,
                text: mensaje,
                sticky: false,
                time: ''
            });
            return false;
        }
        {% endcomment %}
    </script>
    {% endblock %}
</body>
</html>
