{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %} Requerimientos {% endblock %}

{% block menu %}
    {% include "menus/publico.html" with opcion_menu=20 %}
{% endblock %}

{% block css %}
    
    <!--- ñiiipi -->
    {{form.media}} {# agrega los js y css necesarios para el bootstrap3 datetimepicker y select2 #}
    <!--- :D -->
{% endblock %}

{% block js %}
    {% if solo_lectura%}
    <script>
        $(function(){
            $("select").attr("disabled", "disabled");
            $("input").attr("readonly", "readonly");
        });
    </script>

    {% endif %}
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li class="active">Requerimientos</li>
{% endblock %}

{% block titulo_contenido %}Lista de Requerimientos{% endblock %}

{% block previo_contenido_panel %}
    
{% endblock %}

{% block titulo_panel %}<i class="fa fa-user"></i> Ver Requerimientos{% endblock %}
{% block contenido_panel %}

    <table  class = "table">
        <tr>
            <thead>
                <td class="info">
                    Estado
                </td>
                <td class="info">
                    Fecha Recibido
                </td>
                <td class="info">
                    Fecha Ejecución
                </td>
                <td class="info">
                    Descripción
                </td>
                <td class="info">
                    Número de Contratistas
                </td>
                <td class="info">
                    Lugar
                </td>
                <td class="info">
                    Responsable
                </td>
                <td class="info">
                    Email del responsable
                </td>
                <td class="info">
                    Celular del responsable
                </td>
                <td class="info">
                    Modificar
                </td>
                <td class="info">
                    Eliminar
                </td>
            </thead>
        </tr>
        {% for requerimiento in requerimientos %}
        <tr>
            <tbody>
                <td >
                    {{ requerimiento.estado_req }}
                </td>
                <td >
                    {{ requerimiento.fecha_rec }}
                </td>
                <td >
                    {{ requerimiento.fecha_eje }}
                </td>
                <td >
                    {{ requerimiento.descripcion_req }}
                </td>
                <td >
                    {{ requerimiento.no_contratistas }}
                </td>
                <td >
                    {{ requerimiento.lugar_req }}
                </td>
                <td >
                    {{ requerimiento.responsable }}
                </td>
                <td >
                    {{ requerimiento.email_responsable }}
                </td>
                <td >
                    {{ requerimiento.celular_responsable }}
                </td>
                <td >
                    <a href="{% url 'requerimiento' requerimiento.id %}" class="btn btn-warning btn-icon btn-circle btn-lg"><i class="fa fa- fa-edit"></i></a>
                </td>
                <td >
                    <a href="{% url 'eliminar_requerimiento' requerimiento.id %}" onclick="return confirm('¿Desea eliminar la lista seleccionada?')" class="btn btn-danger btn-icon btn-circle btn-lg"><i class="fa fa-times"></i></a>
                </td>
        {% endfor %}
        </tbody>
        </tr>
    </table><br>  
{% endblock %}