{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %} Reclamaciones {% endblock %}

{% block menu %}
    {% include "menus/publico.html" with opcion_menu=20 %}
{% endblock %}

{% block css %}
    
    <!--- ñiiipi -->
    {{form.media}} {# agrega los js y css necesarios para el bootstrap3 datetimepicker y select2 #}
    <!--- :D -->
{% endblock %}

{% block js %}
    {% if solo_lectura%}
    <script>
        $(function(){
            $("select").attr("disabled", "disabled");
            $("input").attr("readonly", "readonly");
        });
    </script>

    {% endif %}
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li class="active">Reclamaciones</li>
{% endblock %}

{% block titulo_contenido %}Lista de Reclamaciones{% endblock %}

{% block previo_contenido_panel %}
    
{% endblock %}

{% block titulo_panel %}<i class="fa fa-user"></i> Ver Reclamaciones{% endblock %}
{% block contenido_panel %}

    <table  class = "table">
        <tr>
            <thead>
                <td class="info">
                    Persona 
                </td>
                <td class="info">
                    Colegio
                </td>
                <td class="info">
                    Jornada
                </td>
                <td class="info">
                    Fecha
                </td>
                <td class="info">
                    Supervisor
                </td>
                <td class="info">
                    Descripción
                </td>
                <td class="info">
                    Estado
                </td>
                <td class="info">
                    Observaciones
                </td>
                {% if user_group == "Operario_malla" %}
                <td class="info">
                    Modificar
                </td>
                {%endif%}

            </thead>
        </tr>
        {% for contratista in contratistas %}
        <tr>
            <tbody>
                <td >
                    {{ contratista.persona }}
                </td>
                <td >
                    {{ contratista.get_colegio_display }}
                </td>
                <td >
                    {{ contratista.jornada }}
                </td>
                <td >
                    {{ contratista.fecha }}
                </td>
                <td >
                    {{ contratista.supervisor }}
                </td>
                <td >
                    {{ contratista.descripcion }}
                </td>
                <td >
                    {{ contratista.get_estado_display }}
                </td>
                <td >
                    {{ contratista.observaciones }}
                </td>                
                {% if user_group == "Operario_malla" %}
                <td >
                    <a href="{% url 'reclamacion_modificar' contratista.id %}" class="btn btn-warning btn-icon btn-circle btn-lg"><i class="fa fa- fa-edit"></i></a>
                </td>
                {%endif%}
        {% endfor %}
        </tbody>
        </tr>
    </table><br>  
    {% if user_group == "Contratista_malla" %}
    <a href= "{% url 'reclamacion' %} " class="btn btn-lg btn-primary pull-right" >Añadir una reclamación</a>
    {%endif%}
{% endblock %}