
{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %} Listas {% endblock %}

{% block menu %}
    {% include "menus/publico.html" with opcion_menu=20 %}
{% endblock %}

{% block css %}
    
    <!--- ñiiipi -->
    {{form.media}} {# agrega los js y css necesarios para el bootstrap3 datetimepicker y select2 #}
    <!--- :D -->
{% endblock %}

{% block js %}
    {% if solo_lectura%}
    <script>
        $(function(){
            $("select").attr("disabled", "disabled");
            $("input").attr("readonly", "readonly");
        });
    </script>

    {% endif %}
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li class="active">Listas</li>
{% endblock %}

{% block titulo_contenido %}Lista de Listas{% endblock %}

{% block previo_contenido_panel %}
    
{% endblock %}

{% block titulo_panel %}<i class="fa fa-user"></i> Ver Listas{% endblock %}
{% block contenido_panel %}

    <table  class = "table">
        <tr>
            <thead>
                <td class="info">
                    Asignación
                </td>
                <td class="info">
                    Profesor
                </td>
                <td class="info">
                    Contratista
                </td>
                <td class="info">
                    Espacio
                </td>
                <td class="info">
                    Condición
                </td>
                
                <td class="info">
                    Usuario
                </td>
                <td class="info">
                    Fecha
                </td>
                {% if user_group == "Operario_malla" %}
                <td class="info">
                    Modificar
                </td>
                <td class="info">
                    Eliminar
                </td>
                {%endif%}
            </thead>
        </tr>
        {% for lista in lista_list %}
        <tr>
            <tbody>
                <td >
                    {{ lista.asignacion }}
                </td>
                <td >
                    {{ lista.profesor }}
                </td>
                <td >
                    {{ lista.contratista }}
                </td>
                <td >
                    {{ lista.espacio }}
                </td>
                <td >
                    {{ lista.condicion }}
                </td>
               
                <td >
                    {{ lista.usuario }}
                </td>
                <td >
                    {{ lista.fecha }}
                </td>
                {% if user_group == "Operario_malla" %}
                <td >
                    <a href="{% url 'lista' lista.id %}" class="btn btn-warning btn-icon btn-circle btn-lg"><i class="fa fa- fa-edit"></i></a>
                </td>
                <td >
                    <a href="{% url 'eliminar_lista' lista.id %}" onclick="return confirm('¿Desea eliminar la lista seleccionada?')" class="btn btn-danger btn-icon btn-circle btn-lg"><i class="fa fa-times"></i></a>
                </td>
                {%endif%}
        {% endfor %}
        </tbody>
        </tr>
    </table><br>  
    {% if user_group == "Operario_malla" %}
    <center><a href= "{% url 'lista_reporte_contratista' %} " class="btn btn btn-primary pull" >Descargar CVS</a></center><br>
    <a href= "{% url 'lista' %} " class="btn btn-lg btn-primary pull-right" >Añadir una lista</a>
    {%endif%}
{% endblock %}