{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %} Formulario Contratista {% endblock %}

{% block menu %}
    {% include "menus/publico.html" with opcion_menu=6 %}
{% endblock %}

{% block css %}
    
    <link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    {{form.media}} {# agrega los js y css necesarios para el bootstrap3 datetimepicker #}

    <style>
    input[type=file] {
        display: inline-block !important;
    }
    </style>
{% endblock %}




{% block miga_pan %}
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li class="active">Formulario de Contratistas</li>
    
{% endblock %}

{% block titulo_contenido %}Formulario de Registro de Contratistas{% endblock %}

{% block previo_contenido_panel %}
    {% include "wizard.html" with wizard_stage=4 %}
{% endblock %}




{% block titulo_panel %}<i class="fa fa-file-text"></i> Adjuntar Documentos {% endblock %}
{% block contenido_panel %}

    <h5>Debe subir soportes especificados.<b> Si no lo hace no será tenido en cuenta como candidato</b>. Adjunte el archivo haciendo click en el botón examinar para buscar el archivo en su equipo y luego presionando el botón <b>Subir Archivo</b> respectivo.
    <br><br>
    Se recomienda que comprima todos los archivos en una carpeta <b>ZIP</b>, o añadirlo todo a un documento y subirlo en formato <b>PDF</b>.
    </h5>
    <br>
    

    <form class="form-horizontal"  enctype="multipart/form-data" method="post">{% csrf_token %}

        <table class="table table-hover">
            <tr>
                <td style="width:300px; padding-right:30px;">
                    <strong>Adjunte la certificación de:</strong><br>
                     Beneficiario en una EPS<br> O que es afiliado al sisbén
                </td>
                <td style="width:400px">{{form.eps_sisben}}</td>
                 <td style="width:60px"><button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-upload"></i>  Subir Archivo</button></td> 
            </tr>
            <tr>
                <td style="width:300px; padding-right:30px;">
                    <strong>Adjunte la certificación de:</strong><br>
                     Matricula académica actua
                </td>
                <td style="width:400px">{{form.matricula}}</td>
                 <td style="width:60px"><button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-upload"></i>  Subir Archivo</button></td> 
            </tr>
            <tr>
                <td style="width:300px; padding-right:30px;">
                    <strong>Adjunte la certificación de:</strong><br>
                     RUT
                </td>
                <td style="width:400px">{{form.rut}}</td>
                 <td style="width:60px"><button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-upload"></i>  Subir Archivo</button></td> 
            </tr>
            <tr>
                <td style="width:300px; padding-right:30px;">
                    <strong>Adjunte la certificación de:</strong><br>
                     Hoja de vida
                </td>
                <td style="width:400px">{{form.hv}}</td>
                 <td style="width:60px"><button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-upload"></i>  Subir Archivo</button></td> 
            </tr>


        </table>


    </form>
    
    <br>
    <a href="{% url 'finalizar_contratista' %}" class="btn btn-lg btn-success pull-right">Finalizar <i class="fa fa-angle-right"></i> </a>
{% endblock %}