<div id="wizard">
<ol class="bwizard-steps clearfix" role="tablist">
    <li role="tab" {% if wizard_stage >= 1 %} aria-selected="true" class="active" {% endif %} style="z-index: 7;"><span class="label badge-inverse">1</span><a class="hidden-phone">
        Datos Personales
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 2 %} aria-selected="true" class="active" {% endif %} style="z-index: 6;"><span class="label">2</span><a class="hidden-phone">
        Datos de Contacto 
        </a>
    </li>    
    <li role="tab"  {% if wizard_stage >= 3 %} aria-selected="true" class="active" {% endif %} style="z-index: 4;"><span class="label">3</span><a class="hidden-phone">
        Areas de <br> Conocimiento
        </a>
    </li>
    <li role="tab"  {% if wizard_stage >= 4 %} aria-selected="true" class="active" {% endif %} style="z-index: 2;"><span class="label">4</span><a class="hidden-phone">
        Soportes
        </a>
    </li>
    
</ol>
</div>
<br>