{% extends "base.html" %}

{% block titulo %}
	Formulario Aspirante
{% endblock %}

{% block menu %}
	{% include "menus/publico.html" %}
{% endblock %}

{% block css %}
	<link href="{{STATIC_URL}}css/select2.css" rel="stylesheet" />
	<link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
	<style type="text/css">
		.espacio{
			margin-top: 10px;
		}
	</style>
{% endblock %}

{% block js %}
	<script src="{{STATIC_URL}}js/select2.js"></script>
	<script src="{{STATIC_URL}}plugins/bootstrap-wizard/js/bwizard.js"></script>
	<script src="{{STATIC_URL}}js/form-wizards.demo.min.js"></script>
	<script>
		$(document).ready(function() {
			FormWizard.init();
		});
	</script>
{% endblock %}

{% block miga_pan %}
	<li><a href="javascript:;">Inicio</a></li>
	<li class="active">Formulario de Registro</li>
{% endblock %}

{% block titulo_contenido %}
	Formulario de Registro de Aspirantes
{% endblock %}

{% block titulo_panel %}
	Registro de Aspirantes
{% endblock %}

{% block contenido_panel %}
{% load bootstrap3 %}

	<form action="/" method="POST">
		<div id="wizard">
			<ol>
				<li>
				    Datos Personales 
				</li>
				<li>
				    Formación Académica
				</li>
				<li>
				    Formación en TIC's
				</li>
				<li>
				    Conocimientos Específicos
				</li>
				<li>
				    Idiomas
				</li>
				<li>
				    Experiencia Formador en TIC's
				</li>
				<li>
				    Firma Servidor Público
				</li>
			</ol>
			<!-- begin wizard step-1 -->
			
			<div>
				<div class="row">
					<div class="col-xs-12">
						<form action="" method="post">{% csrf_token %}
							{% bootstrap_form datosBasicos %}	
						</form>
					</div>
				</div>
			</div>
			<!-- end wizard step-1 -->
			<!-- begin wizard step-2 -->
			<div>
				<div class="row">
					<div class="col-sm-12">
						<label style="font-size:16px"><b>Educación superior (pregrado y postgrado)</b></label>
						<p><b>Señalar la modalidad académica de más alto nivel que usted finalizó.</b></p>
					</div>
					<div class="col-xs-12">
						{% bootstrap_form formacionAcademica %}	
					</div>
				</div>
			</div>
			<!-- end wizard step-2 -->
			<!-- begin wizard step-3 -->
			<div>
				<div class="row">
					<div class="col-xs-12" align="center">
						<b>Seleccione la formación en TIC's que ha tenido mayor duración y a la cual usted asistió.</b>
					</div>
					<div class="col-xs-12">
						{% bootstrap_form formacionTics %}	
					</div>
				</div>
			</div>
			<!-- end wizard step-3 -->
			<!-- begin wizard step-4 -->
			<div>
			    <table class = "table">
			    	<thead>
			    		<th>Conocimiento</th>
			    		<th>Regular</th>
			    		<th>Bueno</th>
			    		<th>Muy bueno</th>	
			    	</thead>
			    	<tbody>
			    		<tr>
				    		<td>Conocimiento y manejo de herramientas ofimáticas</td>
				    		<td><input type="radio" name="conocimiento1" value="1" ></td>
				    		<td><input type="radio" name="conocimiento1" value="2"></td>
				    		<td><input type="radio" name="conocimiento1" value="3"></td>
			    		</tr>
			    		<tr>
				    		<td>Conocimiento y manejo de herramientas  Web</td>
				    		<td><input type="radio" name="conocimiento2" value="1" ></td>
				    		<td><input type="radio" name="conocimiento2" value="2"></td>
				    		<td><input type="radio" name="conocimiento2" value="3"></td>
			    		</tr>
			    		<tr>
				    		<td>Conocimiento herramientas de edición multimedia</td>
				    		<td><input type="radio" name="conocimiento3" value="1" ></td>
				    		<td><input type="radio" name="conocimiento3" value="2"></td>
				    		<td><input type="radio" name="conocimiento3" value="3"></td>
			    		</tr>
			    		<tr>
				    		<td>Experiencia en desarrollo de contenidos educativos digitales</td>
				    		<td><input type="radio" name="conocimiento4" value="1" ></td>
				    		<td><input type="radio" name="conocimiento4" value="2"></td>
				    		<td><input type="radio" name="conocimiento4" value="3"></td>
			    		</tr>
			    		<tr>
				    		<td>Experiencia en desarrollo de libros de texto digital</td>
				    		<td><input type="radio" name="conocimiento5" value="1" ></td>
				    		<td><input type="radio" name="conocimiento5" value="2"></td>
				    		<td><input type="radio" name="conocimiento5" value="3"></td>
			    		</tr>
			    		<tr>
				    		<td>Experiencia en procesos de e-learning</td>
				    		<td><input type="radio" name="conocimiento6" value="1" ></td>
				    		<td><input type="radio" name="conocimiento6" value="2"></td>
				    		<td><input type="radio" name="conocimiento6" value="3"></td>
			    		</tr>
			    		<tr>
				    		<td>Experiencia en gestión de proyectos educativos TIC</td>
				    		<td><input type="radio" name="conocimiento7" value="1" ></td>
				    		<td><input type="radio" name="conocimiento7" value="2"></td>
				    		<td><input type="radio" name="conocimiento7" value="3"></td>
			    		</tr>
			    		<tr>
				    		<td>Experiencia en desarrollo de elementos de evaluación de competencias.</td>
				    		<td><input type="radio" name="conocimiento8" value="1" ></td>
				    		<td><input type="radio" name="conocimiento8" value="2"></td>
				    		<td><input type="radio" name="conocimiento8" value="3"></td>
			    		</tr>
			    	</tbody>
			    </table>
			    <div class="row espacio">
							<div class="col-sm-6">
								<b>Soportes</b>
							</div>
							<div class="col-sm-6">
								<input class="form-control" name="soportes_conocimientos" type="file" />
							</div>
				</div>
			</div>
			<!-- end wizard step-4 -->
			<div>
				<div class="col-sm-12 espacio" align="justify" style="font-size:15px"><br>
					<b>Solo se permitirá puntuar un idioma diferente al castellano como máximo.</b><br><br>
				
				<label>
				<input type="radio" name="idioma" value="1" >Inglés<br>
				<input type="radio" name="idioma" value="2" >Francés<br>
				<input type="radio" name="idioma" value="3" >Portugués<br>
				<input type="radio" name="idioma" value="4" >Otro. Cual? <input type="text" name="idiomaotro"><br>
			    </div>
			    <div class="col-sm-12 espacio" align="center" style="font-size:15px">
			    <table class = "table" >
			    	<thead>
			    		<th>Idioma seleccionado</th>
			    		<th>Regular</th>
			    		<th>Bueno</th>
			    		<th>Muy bueno</th>	
			    	</thead>
			    	<tbody>
			    		<tr>
				    		<td>Lee</td>
				    		<td><input type="radio" name="idioma1" value="1" ></td>
				    		<td><input type="radio" name="idioma1" value="2"></td>
				    		<td><input type="radio" name="idioma1" value="3"></td>
			    		</tr>
			    		<tr>
				    		<td>Escribe</td>
				    		<td><input type="radio" name="idioma2" value="1" ></td>
				    		<td><input type="radio" name="idioma2" value="2"></td>
				    		<td><input type="radio" name="idioma2" value="3"></td>
			    		</tr>
			    		<tr>
				    		<td>Habla</td>
				    		<td><input type="radio" name="idioma3" value="1" ></td>
				    		<td><input type="radio" name="idioma3" value="2"></td>
				    		<td><input type="radio" name="idioma3" value="3"></td>
			    		</tr>
			    	</tbody>
			    </table>
			    <div class="row espacio">
							<div class="col-sm-6">
								<b>Soportes</b>
							</div>
							<div class="col-sm-6">
								<input class="form-control" name="soportes_idioma" type="file" />
							</div>
				</div>
			    </div>
			</div>
			<div>
				<div class="col-sm-12 espacio" align="justify" style="font-size:15px">
					<b>Seleccione su experiencia como formador TIC en cada uno de los items.</b><br><br>
				</div>
			    <div class="row espacio">
					<div class="col-xs-12" style="font-size:14px">
						<b>Formador TIC  a estudiantes</b>
							<select class="form-control" name="exp_tic_est" size="5">
								<option value="0">Ninguna</option>
								<option value="1">De 1 a 2 años</option>
								<option value="2">De 2 a 3 años</option>
								<option value="3">De 3 a 5 años</option>
								<option value="4">Más de 5 años</option>
							</select>
					</div>
				</div><br>
				<div class="row espacio">
					<div class="col-xs-12" style="font-size:14px">
						<b>Formador TIC  a profesores</b>
							<select class="form-control" name="exp_tic_doc" size="5">
								<option value="0">Ninguna</option>
								<option value="1">De 80 a 200 horas</option>
								<option value="2">De 200 a 300 horas</option>
								<option value="3">De 300 a 450 horas</option>
								<option value="4">Más de 450 horas</option>
							</select>
					</div>
				</div><br>
				<div class="row espacio">
					<div class="col-xs-12" style="font-size:14px">
						<b>Formador de formadores TIC</b>
							<select class="form-control" name="exp_tic_for" size="3">
								<option value="0">Ninguna</option>
								<option value="1">De 80 a 120 horas</option>
								<option value="2">Más de 120 horas</option>
							</select>
					</div>
				</div>
				<div class="row espacio">
							<div class="col-sm-6">
								<b>Soportes</b>
							</div>
							<div class="col-sm-6">
								<input class="form-control" name="soportes_experiencia" type="file" />
							</div>
						</div>
			</div>
			<div>
			   	<div class="col-md-8 col-md-offset-4"><br><br>
			   		<b>Acepto las condiciones expresadas en el documento documento.pdf.</b><br>
			   		<input type="checkbox" name="condiciones" value="1">Acepto<br><br><br>
	  				<button type="submit" class="btn btn-sm btn-primary m-r-5">Finalizar</button>
	  				
  				</div>
			</div>
			
		</div>
	</form>
	
{% endblock %}