{% extends "base.html" %}

{% block titulo %}
	Tit@ - Funciones
{% endblock %}

{% block menu %}
	{% include "menus/publico.html" %}
{% endblock %}

{% block miga_pan %}
	<li><a href="javascript:;">Inicio</a></li>
	<li class="active">Funciones de Maestros</li>
{% endblock %}

{% block titulo_contenido %}
	CONVOCATORIA A FORMADORES ETAPA PRESENCIAL Y VIRTUAL
{% endblock %}

{% block titulo_panel %}
	Funciones de los Maestros
{% endblock %}

{% block contenido_panel %}
	<div class="row" style="font-size:15px">
		<div class="col-xs-12">
			<center><b><h4>Funciones de los maestros(as) formadores se encuentran</h4></b></center>
			<ol>
				<li>
					Desarrollar el Programa de formación docente en uso  y apropiación de TIC con énfasis en competencias S XXI a los  Docentes Participantes.
				</li>
				<li>
					Implementar el acompañamiento “in situ” durante el proceso.
				</li>
			</ol>
		</div>
	</div>
{% endblock %}