{% extends "base.html" %}

{% block titulo %}
	Tit@ - Objetivos
{% endblock %}

{% block menu %}
	{% include "menus/publico.html" %}
{% endblock %}

{% block miga_pan %}
	<li><a href="javascript:;">Inicio</a></li>
	<li class="active">Objetivos</li>
{% endblock %}

{% block titulo_contenido %}
	CONVOCATORIA A FORMADORES ETAPA PRESENCIAL Y VIRTUAL
{% endblock %}

{% block titulo_panel %}
	Objetivos de Tit@
{% endblock %}

{% block contenido_panel %}
	<div class="row">
		<div class="col-xs-12">
			<center><b><h4>Objetivo General de la Formación</h4></b></center>
			<p>Cualificar el proceso de formación pedagógica para integrar las Tecnologías de la Información y la Comunicación (TIC) en la práctica de los docentes de instituciones educativas de  Santiago de Cali, Yumbo, Dagua, La Cumbre y Vijes.</p>

			<b>Objetivos Específicos de la Formación</b>
			<ol>
				<li>
					Apropiar elementos conceptuales y metodológicos relativos a la organización y la gestión del ejercicio profesional, para el desarrollo de las competencias del Siglo XXI.
				</li>
				<li>
					Propiciar el uso de conceptos e instrumentos de análisis para la integración de las TIC en el ejercicio profesional.
				</li>
			</ol>
		</div>
	</div>
{% endblock %}