{% extends "base.html" %}

{% block titulo %}
	Tit@ - Requisitos
{% endblock %}

{% block menu %}
	{% include "menus/publico.html" %}
{% endblock %}

{% block miga_pan %}
	<li><a href="javascript:;">Inicio</a></li>
	<li class="active">Requisitos</li>
{% endblock %}

{% block titulo_contenido %}
	CONVOCATORIA A FORMADORES ETAPA PRESENCIAL Y VIRTUAL
{% endblock %}

{% block titulo_panel %}
	Requisitos para Concursar
{% endblock %}

{% block contenido_panel %}
	<div class="row">
		<div class="col-xs-12">
			<b>Formación Académica</b>
			<ul>
				<li>
					<b>OBLIGATORIO</b>
					<ul>
						<li>
							Licenciados en educación preescolar, básica primaria, ciencias naturales, lengua castellana, matemáticas, ciencias sociales, tecnología, educación artística (y áreas relacionadas según acuerdo 098 de 2009) o profesionales no licenciados con título de pregrado afín (según acuerdo 098 de 2009) a las ciencias naturales, las matemáticas o la lengua castellana. (Da puntaje de partida)
						</li>
						<li>
							Cursos de formación en TIC  (Da puntaje de partida)
						</li>
					</ul>
				</li>
				<li>
					<b>PREFERIBLE</b>
					<ul>
						<li>
							Título de posgrado en áreas afines a TIC o educación  (suma puntos) 
						</li>
						<li>
							Cursos de formación a formadores TIC (suma puntos)
						</li>
					</ul>
				</li>
			</ul>
			<b>Experiencia laboral</b>
			<ul>
				<li>
					<b>OBLIGATORIO</b>
					<ul>
						<li>
							Experiencia certificada de mínimo 2 años como docente de básica o media. (Da puntaje de partida)
						</li>
						<li>
							Uso de TIC en la enseñanza de alguna de las áreas básicas del saber (ciencias, matemáticas, informática, artes, humanidades) o experiencia en el uso de plataformas e-learning o en el desarrollo de recursos educativos digitales  (Da puntaje de partida)
						</li>
					</ul>
				</li>
				<li>
					<b>PREFERIBLE</b>
					<ul>
						<li>
							Experiencia certificada de mínimo 2 años en procesos de formación de docentes.  (suma puntos)
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}