{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %} Acta de Compromiso {% endblock %}

{% block menu %}
    {% include "menus/publico.html" with opcion_menu=10 %}
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    {{form.media}} {# agrega los js y css necesarios para el bootstrap3 datetimepicker #}
{% endblock %}

{% block js %}
    {% if solo_lectura%}
    <script>
        $(function(){
            $("select").attr("disabled", "disabled");
            $("input").attr("readonly", "readonly");
        });
    </script>

    {% endif %}
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li class="active">Formulario de Registro ME</li>
{% endblock %}

{% block titulo_contenido %}Formulario de Registro de Aspirantes Maestros - Estudiantes{% endblock %}

{% block previo_contenido_panel %}
    {% include "inscripcion/_wizard_ME.html" with wizard_stage=5 %}
{% endblock %}

{% block titulo_panel %}<i class="fa fa-lightbulb-o"></i> Inscripción{% endblock %}
{% block contenido_panel %}
    <h2 style="color:blue"><p align="center">Cali|vive digital / TIT@ Educación Digital para Todos</p></h2>
	<h3><p align="center"><b>ACTA DE COMPROMISO</b></p></h3>
	<br>
	<p>Yo, <b>{{estudiante}}</b> identificado(a) con la C.C. No. <b>{{estudiante.numero_documento}}</b>, docente de la institución educativa <b>{{ie}}</b> refrendo con mi firma esta acta en el que se hacen explícitos los compromisos  que acepto cumplir al participar en el programa “FORMACION DOCENTE EN PEDAGOGIA MEDIADA CON TECNOLOGIAS DE LA INFORMACION Y LA COMUNICACION”.</p>

	<p>El programa aprobado mediante Resolución No. 4143.0.21A96 de 2014, de la Alcaldía Santiago de Cali, Secretaria de Educación, tiene una validez de cuatro créditos, previa aprobación de los requisitos, esto es: la asistencia como mínimo al 80% de las clases presenciales y la construcción y entrega del Portafolio Interactivo Digital, constituido por los productos de cada uno de los momentos de la formación.</p>

	<p>Al participar, valoro el esfuerzo que se está haciendo para implementar el proceso en mi jornada de trabajo e institución educativa, con el fin de fortalecer la educación desarrollando competencias siglo XXI.</p>

	<p>Por lo tanto, al firmar esta ACTA DE COMPROMISO,  manifiesto mi voluntad de:</p>

	<ul>
		<li>Dedicar el tiempo que brinda el programa para el desarrollo de mi cualificación como docente cumpliendo con el plan de actividades previsto para los cuatro meses de formación presencial y cuatro meses de acompañamiento, para un total de ocho meses de duración programa.</li>
		<li>Asistir y participar cumplida y activamente en las sesiones semanales de clase durante los primeros cinco meses de formación presencial.</li>
		<li>Comunicar oportunamente las dificultades que me impidan cumplir con la asistencia y compromisos con el programa.</li>
		<li>Participar en los escenarios virtuales creados en el programa, usando los recursos disponibles (por ejemplo, revisar y responder los correos electrónicos, aportar y  participar en los foros virtuales, enviar las tareas, leer los textos electrónicos )</li>
		<li>Leer los documentos y otros materiales de estudio</li>
		<li>Construir a lo largo de la formación el Portafolio Interactivo Digital, constituido por los productos de cada uno de los momentos de la formación.</li>
		<li>Estar dispuesto a trabajar en equipo con otro(a)s colegas y compartir  con ello(a)s  lo aprendido.</li>
		<li>Integrar lo aprendido y producido a mi labor cotidiana en la comunidad educativa  de la que hago parte.</li>
		<li>Elaborar y entregar previamente el material que se debe desarrollar en la clase, por parte de los Monitores de apoyo docente, en cada jornada del diplomado en su etapa presencial.</li>
	</ul>

	<p>En constancia de lo anterior acepto el {{hoy}}.</p>
	<br>
	<br>
	<br>
	{% comment %}
	<p><b>______________________________</b></p>
	<p><b>Firma</b></p>
	<p><b>Cédula</b></p>
	{% endcomment %}
	<img class="img-responsive" src="{{STATIC_URL}}img/footer.png?v=2"  style="border-radius:10px;" >


	<div class="row">
		{% comment %}
		<div class="col-xs-12" align="center">
			<span class="alert alert-info fade in m-b-15" align="center">
		        Para imprimir el acta haga <a class="" href="{% url  'imprimir_actaDE' %}" target="_blank"><b>Click Aquí</b></a>
		    </span>
		</div>
		{% endcomment %}
		<div class="col-xs-12" align="center" style="margin-top:40px">
			<span class="alert alert-danger fade in m-b-15" align="center">
		        <b>Atención: </b>Al presionar "Acepto" usted esta aceptando todo lo estipulado en el "Acta de Compromiso"
		    </span>
		</div>
	</div>
	
    
    <br><br>
    <form class="form-horizontal"  enctype="multipart/form-data" method="post">{% csrf_token %}
        {#% bootstrap_form form layout="horizontal" %#}
        <a href="{% url 'certificaciones_DE' %}" class="btn btn-lg btn-default pull-left"> <i class="fa fa-angle-left"></i> Anterior</a>
        <a id="siguiente" href="{% url 'finalizar_DE' 1 %}" class="btn btn-lg btn-primary pull-right">Acepto <i class="fa fa-check"></i></a>
        <a id="siguiente" href="{% url 'finalizar_DE' 0 %}" class="btn btn-lg btn-danger pull-right" style="margin-right:5px">No Acepto <i class="fa fa-times	"></i></a>
        
    </form>
{% endblock %}