{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %} Formulario Aspirante ME {% endblock %}

{% block menu %}
    {% include "menus/publico.html" with opcion_menu=10 %}
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    {{form.media}} {# agrega los js y css necesarios para el bootstrap3 datetimepicker #}
{% endblock %}

{% block js %}
    {% if solo_lectura%}
    <script>
        $(function(){
            $("select").attr("disabled", "disabled");
            $("input").attr("readonly", "readonly");
        });
    </script>

    {% endif %}
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li class="active">Formulario de Registro DE</li>
{% endblock %}

{% block titulo_contenido %}Formulario de Registro de Aspirantes Maestros - Estudiantes{% endblock %}

{% block previo_contenido_panel %}
    {% include "inscripcion/_wizard_ME.html" with wizard_stage=3 %}
{% endblock %}

{% block titulo_panel %}<i class="fa fa-lightbulb-o"></i> Inscripción{% endblock %}
{% block contenido_panel %}
    <div class="alert alert-info fade in m-b-15" align="center">
        Por favor guarde su número de registro: <b>{{clave}}</b>, es muy importante para futuros procesos.
    </div>
    <div class="row" style="margin-bottom:10px">
        <div class="col-sm-12">
            <table class="table table-hover">
                <thead>
                    <tr align="center">
                        <td><b>Título</b></td>
                        <td><b>Institución</b></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr></tr>
                </thead>
                <tbody>
                {% for est in estudios %}
                    <tr align="center">
                        <td>{{est.titulo}}</td>
                        <td>{{est.institucion}}</td>
                        <td>
                            {% if est.relacionado_pedagogia %}<span class="label label-info">Pedagogía</span>{% endif %}
                            {% if est.relacionado_tic %}<span class="label label-info">TIC</span>{% endif %}
                        </td>
                        <td>
                            <a href="{% url 'eliminarFormacionAcademicaDE' est.id %}" onclick="return confirm('Seguro que desea eliminar esta entrada?')" class="text-danger">Eliminar</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7" align="center"><b>No hay programas registrados</b></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-12" align="center">
            <div class="alert alert-warning fade in m-b-15">
                <center><strong>Tenga en cuenta!</strong>
                Para las fechas de inicio y finalización, sino conoce o recuerda el día exacto, seleccione el primero del mes (1).</center>
            </div>
            <form class="form-horizontal" method="post">{% csrf_token %}
                {% bootstrap_form form layout="horizontal" %}
                
                <br>
                <span class="alert alert-warning fade in m-b-15" align="center">
                    <b>Recuerde guardar los estudios digitados presionando "Guardar"</b>
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </span>
                {% if not tiene_estudios %}
                <br>
                <br><br>
                <span class="alert alert-danger fade in m-b-15" align="center">
                    <b>Para continuar con la siguiente sección debe tener por lo menos un estudio registrado!</b>
                </span>
                {% endif %}
            </form>
        </div>
    </div>
    <br>
    <a href="{% url 'laborales_DE' %}" class="btn btn-lg btn-default pull-left"> <i class="fa fa-angle-left"></i> Anterior</a>
    <a id="siguiente" href="{% url 'certificaciones_DE' %}" class="btn btn-lg btn-primary pull-right">Siguiente <i class="fa fa-angle-right"></i></a>
{% endblock %}