{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %} Formulario Aspirante DE {% endblock %}

{% block menu %}
    {% include "menus/publico.html" with opcion_menu=10 %}
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    {{form.media}} {# agrega los js y css necesarios para el bootstrap3 datetimepicker #}
{% endblock %}

{% block js %}
    {% if solo_lectura%}
    <script>
        $(function(){
            $("select").attr("disabled", "disabled");
            $("input").attr("readonly", "readonly");
        });
    </script>

    {% endif %}
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li class="active">Formulario de Registro DE</li>
{% endblock %}

{% block titulo_contenido %}Formulario de Registro de Aspirantes Docentes - Estudiantes{% endblock %}

{% block previo_contenido_panel %}
    {% include "inscripcion/_wizard_ME.html" with wizard_stage=5 %}
{% endblock %}

{% block titulo_panel %}<i class="fa fa-lightbulb-o"></i> Inscripción{% endblock %}
{% block contenido_panel %}
    <div class="alert alert-info fade in m-b-15" align="center">
        Por favor guarde su número de registro: <b>{{clave}}</b>, es muy importante para futuros procesos.
    </div>
    <h5><b>Tener en cuenta la resolución No. 4143.0.21 1275 de 2014.</b></h5>
    <h5>Para la sección de soportes deberán descargar el siguiente <b>Acta de Compromiso</b>, firmarlo y subirlo; junto con su <b>Hoja de Vida</b> y demás soportes de la información previamente diligenciada.</h5>
    <b>Acta de Compromiso</b> :  <a class="" href="{% url  'acta_compromiso_DE' %}" target="_blank"><b>Click Aquí</b></a>
    <br>
    <b>Resolución</b> :  <a class="" href="{{STATIC_URL}}documents/resolucion_DE.pdf" target="_blank"><b>Click Aquí</b></a>
    <form class="form-horizontal"  enctype="multipart/form-data" method="post">{% csrf_token %}
        {#% bootstrap_form form layout="horizontal" %#}
        <br>
        <table class="table table-hover">
            <tr>
                <td style="width:300px; padding-right:30px;">
                    <strong>Acta de Compromiso</strong><br>
                    Adjunte el Acta de Compromiso digitalizada con su firma
                </td>
                <td style="width:400px">{{form.acta_compromiso }}</td>
                <td style="width:60px"><button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-upload"></i>  Subir Archivo</button></td>
            </tr>
            <tr>
                <td style="width:300px; padding-right:30px;">
                    <strong>Hoja de Vida</strong><br>
                    Adjunte su Hoja de Vida debidamente diligenciada
                </td>
                <td style="width:400px">{{form.hv }}</td>
                <td style="width:60px"><button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-upload"></i>  Subir Archivo</button></td>
            </tr>
            <tr>
                <td style="width:300px; padding-right:30px;">
                    <strong>Otros</strong><br>
                    Adjunte otros soportes que usted considere pertinentes con respecto a las secciones anteriores
                </td>
                <td style="width:400px">{{form.otros }}</td>
                <td style="width:60px"><button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-upload"></i>  Subir Archivo</button></td>
            </tr>
        </table>

        <a href="{% url 'programas_DE' %}" class="btn btn-lg btn-default pull-left"> <i class="fa fa-angle-left"></i> Anterior</a>
        <a id="siguiente" href="{% url 'finalizar_DE' %}" class="btn btn-lg btn-primary pull-right">Finalizar <i class="fa fa-check"></i></a>
    </form>
{% endblock %}