{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %} Formulario Aspirante {% endblock %}

{% block menu %}
    {% include "menus/publico.html" with opcion_menu=6 %}
{% endblock %}

{% block css %}
    
    {#<link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />#}
    {{form.media}} {# agrega los js y css necesarios para el bootstrap3 datetimepicker #}
{% endblock %}




{% block miga_pan %}
    <li><a href="javascript:;">Inicio</a></li>
    <li class="active">Formulario de Registro</li>
    <li class="active">Adjuntar Documentos</li>
{% endblock %}

{% block titulo_contenido %}Formulario de Registro de Aspirantes{% endblock %}





{% block titulo_panel %}<i class="fa fa-file-text"></i> Adjuntar Documentos {% endblock %}
{% block contenido_panel %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Tipo</th>
            <th>Archivo</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for adj in adjuntos %}
            <tr>
                <td>{{adj.get_tipo_display}}</td>
                
                <td><a target="_blank" href="{{adj.archivo.url}}">
                    <i class="fa fa-file-text"></i> 
                    {{adj.filename}}</a><br>
                    <small>{{adj.descripcion}}</small>
                    </td>
                <td>
                    <a href="" onclick="return confirm('Seguro que desea borrar este archivo de la plataforma?')" class="text-danger">Eliminar</a>
                </td>
            </tr>
        {% empty %}
            <tr><td colspan="4">No se han agregado archivos.</td></tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="well well-sm">
        <h4>Agregar Archivo</h4>
        <form class="form-horizontal"  enctype="multipart/form-data" method="post">{% csrf_token %}
            {% bootstrap_form form layout="horizontal" horizontal_label_class='col-md-5' horizontal_field_class='col-md-5' %}
            <div class="row">
                <div class="col-md-3 col-md-offset-2">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-upload"></i>  Subir Archivo</button>
                </div>
            </div>
        </form>
    </div>
    
    <a href="{% url 'home' %}" class="btn btn-lg btn-primary pull-right"><i class="fa fa-gavel"></i> Terminar</a>
{% endblock %}