{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %} Formulario Aspirante {% endblock %}

{% block menu %}
    {% include "menus/publico.html" with opcion_menu=6 %}
{% endblock %}

{% block css %}
    
    <link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    {{form.media}} {# agrega los js y css necesarios para el bootstrap3 datetimepicker #}
{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}js/select2.js"></script>
{% endblock %}

{% block miga_pan %}
    <li><a href="javascript:;">Inicio</a></li>
    <li class="active">Formulario de Registro</li>
{% endblock %}

{% block titulo_contenido %}Formulario de Registro de Aspirantes{% endblock %}



{% block previo_contenido_panel %}
    {% include "inscripcion/_wizard.html" with wizard_stage=7 %}
{% endblock %}


{% block titulo_panel %}<i class="fa fa-institution alias"></i> Otra Experiencia Laboral{% endblock %}
{% block contenido_panel %}
    <table class="table">
        <thead>
        <tr>
            <th>Entidad</th>
            <th>Tipo de Entidad</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Cargo</th>
            <th>Inicio</th>
            <th>Terminación</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for exp in experiencias %}
            <tr>
                <td>{{exp.entidad}}</td>
                <td>{{exp.get_tipo_entidad_display}}</td>
                <td>{{exp.telefono}}</td>
                <td>{{exp.email}}</td>
                <td>{{exp.cargo}}</td>
                <td>{{exp.fecha_inicio}}</td>
                <td>{{exp.fecha_fin}}</td>
                <td>
                    <a href="{% url 'eliminarExperienciaOtra' exp.id %}" onclick="return confirm('Seguro que desea eliminar esta entrada?')" class="text-danger">Eliminar</a>
                </td>
            </tr>
        {% empty %}
            <tr><td>No se han agregado ninguna otra experiencia laboral.</td></tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="well well-sm">
        <h4>Agregar Otras Experiencias Laborales</h4>
        <form class="form-horizontal" method="post">{% csrf_token %}
            {% bootstrap_form form layout="horizontal" horizontal_label_class='col-md-5' horizontal_field_class='col-md-5' %}
            <div class="row">
                <div class="col-md-3 col-md-offset-2">
                    <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-plus"></i>  Agregar</button>
                </div>
            </div>
        </form>
    </div>
    <a href="{% url 'experienciaEnsenanza' %}" class="btn btn-lg btn-default pull-left"> <i class="fa fa-angle-left"></i> Anterior</a>
    <a href="{% url 'finalizar' %}" class="btn btn-lg btn-primary pull-right"><i class="fa fa-check-square-o"></i> Finalizar</a>
{% endblock %}

