{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %} Formulario Aspirante {% endblock %}

{% block menu %}
    {% include "menus/publico.html" with opcion_menu=6 %}
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    <!--- ñiiipi -->
    {{form.media}} {# agrega los js y css necesarios para el bootstrap3 datetimepicker y select2 #}
    <!--- :D -->
{% endblock %}


{% block miga_pan %}
    <li><a href="javascript:;">Inicio</a></li>
    <li class="active">Formulario de Registro</li>
{% endblock %}

{% block titulo_contenido %}Formulario de Registro de Aspirantes{% endblock %}

{% block titulo_panel %}<i class="fa fa-key"></i> Número de Registro{% endblock %}
{% block contenido_panel %}
    <div class="row" style="font-size:15px">
        <h4 align="center"><b>Sus datos han sido registrados exitosamente!</b></h4>
        <br>
        <p style= "font-size:15px; margin-left: 200px; margin-right: 200px; "> 
            No olvide que este es su número de registro: <b>{{numero_registro}}</b> 
            Con este dato podrá recibir información acerca de sus proceso dentro de la conovocatoria.
            <br>
            <br>
            <center>Gracias por su tiempo.</center>
        </p>
        <center>
           <a href="{% url 'home' %}" class="btn btn-lg btn-success"><i class="fa fa-trophy"></i> Aceptar</a> 
        </center>
        
    </div>
    
    <!--a href="{% url 'formacionAcademica' %}" class="btn btn-lg btn-primary pull-right">Siguiente <i class="fa fa-angle-right"></i></a-->
{% endblock %}