{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %} Formulario Aspirante {% endblock %}

{% block menu %}
    {% include "menus/publico.html" with opcion_menu=6 %}
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    {{form.media}} {# agrega los js y css necesarios para el bootstrap3 datetimepicker #}
{% endblock %}

{% block js %}
    <script>
    $(function() {
        window.modificado = false;
        $('input, select').change(function() {
            window.modificado = true;
        });
        $('a#siguiente').click(function() {
            if(window.modificado) {
                var res = confirm("No ha hecho click en el botón agregar.\nSi continúa perderá los datos del formulario."+
                    "\n\nPresione Cancelar para volver al formulario y Agregar los datos");
                return res;
            }
        });
    });
    </script>
{% endblock %}

{% block miga_pan %}
    <li><a href="javascript:;">Inicio</a></li>
    <li class="active">Formulario de Registro</li>
{% endblock %}

{% block titulo_contenido %}Formulario de Registro de Aspirantes{% endblock %}

{% block previo_contenido_panel %}
    {% include "inscripcion/_wizard.html" with wizard_stage=5 %}
{% endblock %}

{% block titulo_panel %}<i class="fa fa-language"></i> Idiomas Extranjeros Manejados{% endblock %}
{% block contenido_panel %}
    <table class="table">
        <thead>
        <tr>
            <th>Idioma</th>
            <th>Habla</th>
            <th>Lee</th>
            <th>Escribe</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for idm in idiomas %}
            <tr>
                <td>{{idm.get_idioma_display}}</td>
                <td>{{idm.get_habla_display}}</td>
                <td>{{idm.get_lee_display}}</td>
                <td>{{idm.get_escribe_display}}</td>            
                <td>
                    <a href="{% url 'eliminarIdioma' idm.id %}" onclick="return confirm('Seguro que desea eliminar esta entrada?')" class="text-danger">Eliminar</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">No se ha agregado ningún idioma.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="well well-sm">
        <h4>Agregar Idiomas Extranjeros</h4>
        <form class="form-horizontal" method="post">{% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}
            <div class="row">
                <div class="col-md-3 col-md-offset-2">
                    <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-plus"></i>  Agregar</button>
                </div>
            </div>
        </form>
    </div>

    <a href="{% url 'conocimientosEspecificos' %}" class="btn btn-lg btn-default pull-left"> <i class="fa fa-angle-left"></i> Anterior</a>
    <a id="siguiente" href="{% url 'experienciaEnsenanza' %}" class="btn btn-lg btn-primary pull-right">Siguiente <i class="fa fa-angle-right"></i></a>
{% endblock %}