{% extends "base.html" %}

{% block titulo %}
	Tit@ - Cuadro de Control
{% endblock %}

{% block menu %}
	{% include "menus/publico.html" with opcion_menu=9 %}
{% endblock %}

{% block js %}
<script src="{{STATIC_URL}}plugins/flot/jquery.flot.min.js"></script>
<script src="{{STATIC_URL}}plugins/flot/jquery.flot.pie.min.js"></script>
<script src="{{STATIC_URL}}plugins/flot/jquery.flot.categories.js"></script>
<script type="text/javascript">
	var blue		= '#348fe2',
    blueLight	= '#5da5e8',
    blueDark	= '#1993E4',
    aqua		= '#49b6d6',
    aquaLight	= '#6dc5de',
    aquaDark	= '#3a92ab',
	green		= '#00acac',
	greenLight	= '#33bdbd',
	greenDark	= '#008a8a',
	orange		= '#f59c1a',
	orangeLight	= '#f7b048',
	orangeDark	= '#c47d15',
    dark		= '#2d353c',
    grey		= '#b6c2c9',
    purple		= '#727cb6',
    purpleLight	= '#8e96c5',
    purpleDark	= '#5b6392',
    red         = '#ff5b57';

	if ($('#donut-chart').length !== 0) {
        var data = [];
        var series = 3;
        var colorArray = [dark, green, purple];
        var municipios = "{{municipios}}";
        //console.log(JSON.stringify(eval("(" + municipios + ")")));

        var municipios = (("{{municipios}}").replace(/&(l|g|quo)t;/g, function(a,b){
                return {
                    l   : '<',
                    g   : '>',
                    quo : '"'
                }[b];
            }));

		municipios = JSON.parse( municipios );
		//console.log(municipios);
        
        for (i in municipios){
        	var aux = municipios[i];
        	data[i] = {label: aux.nombre, data: aux.dcount, color: colorArray[i]}
        }
        
        $.plot($("#donut-chart"), data, 
        {
            series: {
                pie: { 
                    innerRadius: 0.5,
                    show: true,
                    combine: {
                        color: '#999',
                        threshold: 0.1
                    }
                }
            },
            grid:{borderWidth:0, hoverable: true, clickable: true},
            legend: {
                show: false
            }
        });
    }

    function mostrar(num){
    	var paneles = ["#inscritos", "#aprobados", "#rechazados", "#mejores"];
    	for(i in paneles){
    		$(paneles[i]).hide();
    	}
    	$(paneles[num]).show();
    }
</script>
{% endblock %}

{% block miga_pan %}
	<li><a href="javascript:;">Cuadro de Control</a></li>
	
{% endblock %}

{% block titulo_contenido %}
	Resultados Convocatoria a Formadores Etapa Presencial y Virtual
{% endblock %}

{% block contenido %}
	<!-- begin row -->
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="widget widget-state bg-green">
						<div class="state-icon"><i class="fa fa-users"></i></div>
						<div class="state-info">
							<h4>TOTAL DE INSCRITOS</h4>
							<p>{{total_inscritos}}</p>	
						</div>
						<div class="state-link">
							<a href="javascript:;" onclick="mostrar(0)">Ver Reporte <i class="fa fa-arrow-circle-o-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="widget widget-state bg-blue">
						<div class="state-icon"><i class="fa fa-check"></i></div>
						<div class="state-info">
							<h4>TOTAL DE APROBADOS</h4>
							<p>{{total_aprobados}}</p>	
						</div>
						<div class="state-link">
							<a href="javascript:;" onclick="mostrar(1)">Ver Reporte <i class="fa fa-arrow-circle-o-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="widget widget-state bg-red">
						<div class="state-icon"><i class="fa fa-frown-o"></i></div>
						<div class="state-info">
							<h4>NO APROBADOS</h4>
							<p>{{total_rechazados}}</p>	
						</div>
						<div class="state-link">
							<a href="javascript:;" onclick="mostrar(2)">Ver Reporte <i class="fa fa-arrow-circle-o-right"></i></a>
						</div>
					</div>
				</div>	
				<div class="col-md-3 col-sm-6">
					<div class="widget widget-state bg-purple">
						<div class="state-icon"><i class="fa fa-trophy"></i></div>
						<div class="state-info">
							<h4>MEJOR PUNTAJE</h4>
							<p>{{maximo}}</p>	
						</div>
						<div class="state-link">
							<a href="javascript:;" onclick="mostrar(3)">Ver Reporte <i class="fa fa-arrow-circle-o-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<!-- end row -->
			<!-- begin row -->
			<div class="row">
				<!-- begin col-8 -->
				<div class="col-md-8">
					<div class="panel panel-inverse" id="inscritos">
						<div class="panel-heading">
							<div class="panel-heading-btn">
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
							</div>
							<h4 class="panel-title">Inscritos</h4>
						</div>
						<div class="panel-body">
							<table class="table table-valign-middle m-b-0">
								<thead>
									<tr>	
										<th>Nombre</th>
										<th>Sexo</th>
										<th>Municipio</th>
										<th>Puntuación</th>
									</tr>
								</thead>
								<tbody>
									{% for aspirante in inscritos %}
									<tr>
										<td>{{aspirante}}</td>
										<td>
											{{aspirante.sexo}}
										</td>
										<td>{{aspirante.municipio}}</td>
										<td>{{aspirante.puntuacion_hv}}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="panel panel-inverse" id="aprobados" style="display: none;">
						<div class="panel-heading">
							<div class="panel-heading-btn">
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
							</div>
							<h4 class="panel-title">Aprobados</h4>
						</div>
						<div class="panel-body">
							<table class="table table-valign-middle m-b-0">
								<thead>
									<tr>	
										<th>Nombre</th>
										<th>Sexo</th>
										<th>Municipio</th>
										<th>Puntuación</th>
									</tr>
								</thead>
								<tbody>
									{% for aspirante in aprobados %}
									<tr>
										<td>{{aspirante}}</td>
										<td>
											{{aspirante.sexo}}
										</td>
										<td>{{aspirante.municipio}}</td>
										<td>{{aspirante.puntuacion_hv}}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="panel panel-inverse" id="rechazados" style="display: none;">
						<div class="panel-heading">
							<div class="panel-heading-btn">
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
							</div>
							<h4 class="panel-title">No Aprobados</h4>
						</div>
						<div class="panel-body">
							<table class="table table-valign-middle m-b-0">
								<thead>
									<tr>	
										<th>Nombre</th>
										<th>Sexo</th>
										<th>Municipio</th>
										<th>Puntuación</th>
									</tr>
								</thead>
								<tbody>
									{% for aspirante in rechazados %}
									<tr>
										<td>{{aspirante}}</td>
										<td>
											{{aspirante.sexo}}
										</td>
										<td>{{aspirante.municipio}}</td>
										<td>{{aspirante.puntuacion_hv}}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="panel panel-inverse" id="mejores" style="display: none;">
						<div class="panel-heading">
							<div class="panel-heading-btn">
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
							</div>
							<h4 class="panel-title">Mejores Puntajes</h4>
						</div>
						<div class="panel-body">
							<table class="table table-valign-middle m-b-0">
								<thead>
									<tr>	
										<th>Nombre</th>
										<th>Sexo</th>
										<th>Municipio</th>
										<th>Puntuación</th>
									</tr>
								</thead>
								<tbody>
									{% for aspirante in mejores %}
									<tr>
										<td>{{aspirante}}</td>
										<td>
											{{aspirante.sexo}}
										</td>
										<td>{{aspirante.municipio}}</td>
										<td>{{aspirante.puntuacion_hv}}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- end col-8 -->
				<!-- begin col-4 -->
				<div class="col-md-4">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                            </div>
                            <h4 class="panel-title">Inscritos por Ciudades</h4>
                        </div>
                        <div class="panel-body">
                            <div id="donut-chart" class="height-sm"></div>
                        </div>
                    </div>
		        </div>
				<!-- end col-4 -->
			</div>
			<!-- end row -->
		
{% endblock %}