<div class="row">
    <div class="form-group col-md-3">
        <label for="id_fecha">Fecha</label>
    </div>
    <div class="form-group col-md-3">
        <div class="input-group date  col-md-12" {% if form_editable %}id="cn374y5374ycc914crf74"{% endif %}>
            <input type="text" value="{{resumen_proyecto.fecha|date:'Y-m-d'}}" title="" required="required" name="fecha" id="id_fecha" class="form-control col-md-3">
            {% if form_editable %}
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            {% endif %}
        </div>
        {% if form_editable %}
            <script type="text/javascript">
                $("#cn374y5374ycc914crf74").datetimepicker({
                format : 'yyyy-mm-dd',
                startDate : '',
                endDate : '',
                weekStart : 0,
                daysOfWeekDisabled : [],
                autoclose : true,
                startView : 2,
                minView : 2,
                maxView : 4,
                todayBtn : false,
                todayHighlight : false,
                minuteStep : 5,
                pickerPosition : 'bottom-right',
                showMeridian : false,
                clearBtn : true,
                language : 'es',
                }).find('input').addClass("form-control");
            </script>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        <label for="id_avance_actual">Avance actual</label>
    </div>
    <div class="form-group col-md-3">
        <input type="number" title="" step="any" required="required" placeholder="" name="avance_actual" id="id_avance_actual" class="form-control" value="{{resumen_proyecto.avance_actual|stringformat:'f'}}">
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        <label for="id_observaciones">Observaciones</label>
    </div>
    <div class="form-group col-md-3">
        <input type="text" title="" required="required" placeholder="" name="observaciones" maxlength="255" id="id_observaciones" class="form-control" value="{{resumen_proyecto.observaciones}}">
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        <label for="id_presupuesto_total">Presupuesto total</label>
    </div>
    <div class="form-group col-md-3">
        <input type="number" title="" step="any" required="required" placeholder="" name="presupuesto_total" id="id_presupuesto_total" class="form-control" value="{{resumen_proyecto.presupuesto_total|stringformat:'f'}}">
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        <label for="id_presupuesto_ejecutado_total">Presupuesto ejecutado total</label>
    </div>
    <div class="form-group col-md-3">
        <input type="number" title="" step="any" required="required" placeholder="" name="presupuesto_ejecutado_total" id="id_presupuesto_ejecutado_total" class="form-control" value="{{resumen_proyecto.presupuesto_ejecutado_total|stringformat:'f'}}">
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        <label class="control-label ui-sortable"></label>
    </div>
    <div class="form-group col-md-3">
        <label class="control-label ui-sortable">META</label>
    </div>
    <div class="form-group col-md-3">
        <label class="control-label ui-sortable">AVANCE</label>
    </div>
    <div class="form-group col-md-3">
        <label class="control-label ui-sortable">% EJECUCIÓN</label>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        <label>Total estudiantes formados</label>
    </div>
    <div class="form-group col-md-3">
        <input type="number" title="" step="any" required="required" placeholder="" name="total_maestros_estudiantes_formados_meta" id="id_total_maestros_estudiantes_formados_meta" class="form-control" value="{{resumen_proyecto.total_maestros_estudiantes_formados_meta|stringformat:'f'}}">
    </div>
    <div class="form-group col-md-3">
        <input type="number" title="" step="any" required="required" placeholder="" name="total_maestros_estudiantes_formados_avance" id="id_total_maestros_estudiantes_formados_avance" class="form-control" value="{{resumen_proyecto.total_maestros_estudiantes_formados_avance|stringformat:'f'}}">
    </div>
    <div class="form-group col-md-3">
        <input type="number" title="" step="any" required="required" placeholder="" name="total_maestros_estudiantes_formados_ejecucion" id="id_total_maestros_estudiantes_formados_ejecucion" class="form-control" value="{{resumen_proyecto.total_maestros_estudiantes_formados_ejecucion|stringformat:'f'}}">
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        <label># actividades realizadas</label>
    </div>
    <div class="form-group col-md-3">
        <input type="number" title="" step="any" required="required" placeholder="" name="numero_actividades_realizadas_meta" id="id_numero_actividades_realizadas_meta" class="form-control" value="{{resumen_proyecto.numero_actividades_realizadas_meta|stringformat:'f'}}">
    </div>
    <div class="form-group col-md-3">
        <input type="number" title="" step="any" required="required" placeholder="" name="numero_actividades_realizadas_avance" id="id_numero_actividades_realizadas_avance" class="form-control" value="{{resumen_proyecto.numero_actividades_realizadas_avance|stringformat:'f'}}">
    </div>
    <div class="form-group col-md-3">
        <input type="number" title="" step="any" required="required" placeholder="" name="numero_actividades_realizadas_ejecucion" id="id_numero_actividades_realizadas_ejecucion" class="form-control" value="{{resumen_proyecto.numero_actividades_realizadas_ejecucion|stringformat:'f'}}">
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        <label>Total formadores contratados</label>
    </div>
    <div class="form-group col-md-3">
        <input type="number" title="" step="any" required="required" placeholder="" name="total_maestros_formadores_contratados_meta" id="id_total_maestros_formadores_contratados_meta" class="form-control" value="{{resumen_proyecto.total_maestros_formadores_contratados_meta|stringformat:'f'}}">
    </div>
    <div class="form-group col-md-3">
        <input type="number" title="" step="any" required="required" placeholder="" name="total_maestros_formadores_contratados_avance" id="id_total_maestros_formadores_contratados_avance" class="form-control" value="{{resumen_proyecto.total_maestros_formadores_contratados_avance|stringformat:'f'}}">
    </div>
    <div class="form-group col-md-3">
        <input type="number" title="" step="any" required="required" placeholder="" name="total_maestros_formadores_contratados_ejecucion" id="id_total_maestros_formadores_contratados_ejecucion" class="form-control" value="{{resumen_proyecto.total_maestros_formadores_contratados_ejecucion|stringformat:'f'}}">
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        <label>Total sedes adecuadas</label>
    </div>
    <div class="form-group col-md-3">
        <input type="number" title="" step="any" required="required" placeholder="" name="total_sedes_adecuadas_meta" id="id_total_sedes_adecuadas_meta" class="form-control" value="{{resumen_proyecto.total_sedes_adecuadas_meta|stringformat:'f'}}">
    </div>
    <div class="form-group col-md-3">
        <input type="number" title="" step="any" required="required" placeholder="" name="total_sedes_adecuadas_avance" id="id_total_sedes_adecuadas_avance" class="form-control" value="{{resumen_proyecto.total_sedes_adecuadas_avance|stringformat:'f'}}">
    </div>
    <div class="form-group col-md-3">
        <input type="number" title="" step="any" required="required" placeholder="" name="total_sedes_adecuadas_ejecucion" id="id_total_sedes_adecuadas_ejecucion" class="form-control" value="{{resumen_proyecto.total_sedes_adecuadas_ejecucion|stringformat:'f'}}">
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        <label>Total sedes equipadas</label>
    </div>
    <div class="form-group col-md-3">
        <input type="number" title="" step="any" required="required" placeholder="" name="total_sedes_equipadas_meta" id="id_total_sedes_equipadas_meta" class="form-control" value="{{resumen_proyecto.total_sedes_equipadas_meta|stringformat:'f'}}">
    </div>
    <div class="form-group col-md-3">
        <input type="number" title="" step="any" required="required" placeholder="" name="total_sedes_equipadas_avance" id="id_total_sedes_equipadas_avance" class="form-control" value="{{resumen_proyecto.total_sedes_equipadas_avance|stringformat:'f'}}">
    </div>
    <div class="form-group col-md-3">
        <input type="number" title="" step="any" required="required" placeholder="" name="total_sedes_equipadas_ejecucion" id="id_total_sedes_equipadas_ejecucion" class="form-control" value="{{resumen_proyecto.total_sedes_equipadas_ejecucion|stringformat:'f'}}">
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        <label>Total licencias adquiridas</label>
    </div>
    <div class="form-group col-md-3">
        <input type="number" title="" step="any" required="required" placeholder="" name="total_licencias_adquiridas_meta" id="id_total_licencias_adquiridas_meta" class="form-control" value="{{resumen_proyecto.total_licencias_adquiridas_meta|stringformat:'f'}}">
    </div>
    <div class="form-group col-md-3">
        <input type="number" title="" step="any" required="required" placeholder="" name="total_licencias_adquiridas_avance" id="id_total_licencias_adquiridas_avance" class="form-control" value="{{resumen_proyecto.total_licencias_adquiridas_avance|stringformat:'f'}}">
    </div>
    <div class="form-group col-md-3">
        <input type="number" title="" step="any" required="required" placeholder="" name="total_licencias_adquiridas_ejecucion" id="id_total_licencias_adquiridas_ejecucion" class="form-control" value="{{resumen_proyecto.total_licencias_adquiridas_ejecucion|stringformat:'f'}}">
    </div>
</div>
