{% extends "base.html" %}

{% block titulo %}
	Tit@ - Reporte ME
{% endblock %}

{% block menu %}
	{% include "menus/publico.html" with opcion_menu=9 %}
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}js/datatables/jquery.dataTables.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}js/datatables/TableTools.css" rel="stylesheet" />
{% endblock %}

{% block js %}

<script src="{{STATIC_URL}}js/datatables/jquery.dataTables.js"></script>
<script src="{{STATIC_URL}}js/datatables/TableTools.min.js"></script>


<script src="{{STATIC_URL}}plugins/flot/jquery.flot.min.js"></script>
<script src="{{STATIC_URL}}plugins/flot/jquery.flot.pie.min.js"></script>
<script src="{{STATIC_URL}}plugins/flot/jquery.flot.categories.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#data-table').dataTable( {
            "dom": 'T<"clear">lfrtip',
        });
    });

	var purple = '#727cb6';


    if ($('#bar-chart').length !== 0) {
    	var municipios = (("{{municipios}}").replace(/&(l|g|quo)t;/g, function(a,b){
                return {
                    l   : '<',
                    g   : '>',
                    quo : '"'
                }[b];
            }));

		municipios = JSON.parse( municipios );
		//console.log(municipios);
		var data = [];
		for (i in municipios){
        	var aux = municipios[i];
        	data[i] = [aux.nombre, aux.cantidad]
        }
        //var data = [ ["January", 10], ["February", 8], ["March", 4], ["April", 13], ["May", 17], ["June", 9] ];
        $.plot("#bar-chart", [ {data: data, color: purple} ], {
            series: {
                bars: {
                    show: true,
                    barWidth: 0.4,
                    align: 'center',
                    fill: true,
                    fillColor: purple,
                    zero: true
                }
            },
            xaxis: {
                mode: "categories",
                tickColor: '#ddd',
				tickLength: 0
            },
            grid: {
                borderWidth: 0
            }
        });
    }

    function mostrar(num){
    	var paneles = ["#inscritos", "#aprobados", "#rechazados", "#mejores"];
    	for(i in paneles){
    		$(paneles[i]).hide();
    	}
    	$(paneles[num]).show();
    }
</script>
{% endblock %}

{% block miga_pan %}
	<li><a href="javascript:;">Resultados ME</a></li>

{% endblock %}

{% block titulo_contenido %}
	Resultados de Inscripción de Maestros Estudiantes
{% endblock %}

{% block contenido %}
<a href="/static/js/datatables/swf/copy_csv_xls_pdf.swf">aaa</a>
	{%include "dashboard/resultado_incripcion_maestros_estudiantes.html" %}
{% endblock %}
