{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %}
	Tit@ - Tablero de Control
{% endblock %}

{% block css %}
    {{estado_avance_form.media}}
    <link href="{{STATIC_URL}}css/file-tree.css" rel="stylesheet" />
    </style>
{% endblock %}

{% block js %}

{% endblock %}

{% block js_ready %}
    <script>
        $(document).ready(function() {
            App.init();

            $(function () {
                $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Cerrar carpeta');
                $('.tree li.parent_li > span').on('click', function (e) {
                    var children = $(this).parent('li.parent_li').find(' > ul > li');
                    if (children.is(":visible")) {
                        children.hide('fast');
                        $(this).attr('title', 'Abrir carpeta').find(' > i').addClass('fa-folder-o').removeClass('fa-folder-open-o');
                    } else {
                        children.show('fast');
                        $(this).attr('title', 'Cerrar carpeta').find(' > i').addClass('fa-folder-open-o').removeClass('fa-folder-o');
                    }
                    e.stopPropagation();
                });
            });
        });
    </script>
{% endblock %}

{% block miga_pan %}
	<li><a href="javascript:;">Tablero de Control</a></li>
{% endblock %}

{% block titulo_contenido %}
	Tablero de Control
{% endblock %}

{% block contenido %}
    <div class="row" align="center">
        <div class="col-xs-12">
            {% for actividad in actividades %}
                <a href="{% url 'tablero_control' actividad.id %}" class="btn {% if actividad.id == actividad_seleccionada.id %} btn-primary {% else %} btn-inverse {% endif %}"
                    style="margin-bottom:5px" data-toggle="tooltip" data-placement="bottom" title="{{actividad.nombre}} - {{actividad.descripcion}}">
                    <!--<i class="fa fa-bar-chart-o fa-2x"></i>-->
                    <small>Actividad</small><br/>
                    <span class="fa-stack fa-1x ">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-inverse fa-stack-1x text-{% if actividad.id == actividad_seleccionada.id %}primary{% else %}inverse{% endif %}"><small>{{forloop.counter}}</small></i>
                    </span>
                    <br>

                </a>
            {% endfor %}
        </div>
    </div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary" id="inscritos">
				<div class="panel-heading">
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
					</div>
					<h4 class="panel-title">Estado de Avance de la {{actividad_seleccionada.nombre}}</h4>
				</div>
				<div class="panel-body">
                    <form class="form-inline">
                        <div class="form-group"><label class="control-label" style="width:200px">Fecha</label></div>
                        <div class="form-group"><label class="control-label" style="width:100px">Meta</label></div>
                        <div class="form-group"><label class="control-label" style="width:100px">Avance Actual</label></div>
                        <div class="form-group"><label class="control-label" style="width:200px">Presupuesto para la Actividad</label></div>
                        <div class="form-group"><label class="control-label" style="width:150px">Presupuesto Ejecutado</label></div>
                        <div class="form-group"><label class="control-label" style="width:150px">Ejecuci&oacute;n Financiera</label></div>
                    </form>
                    <form class="form-inline">
                        <div class="form-group"><input type="text" value="{{estado_de_avance.fecha}}" title="" size="23" class="form-control"></div>
                        <div class="form-group"><input type="text" value="{{estado_de_avance.meta}}%" style="width:100px" class="form-control"></div>
                        <div class="form-group"><input type="text" value="{{estado_de_avance.avance_actual}}%" style="width:100px" class="form-control"></div>
                        <div class="form-group"><input type="text" value="{{estado_de_avance.presupuesto_actividad}}" style="width:200px" class="form-control"></div>
                        <div class="form-group"><input type="text" value="{{estado_de_avance.presupuesto_ejecutado}}%" style="width:150px" class="form-control"></div>
                        <div class="form-group"><input type="text" value="{{estado_de_avance.ejecucion_financiera}}%" style="width:150px" class="form-control"></div>
                    </form>
                    <br/>
                    <form class="form-inline" action={% url 'tableroControlGuardarEstadoDeAvance' %} method="POST">
                        {% csrf_token %}
                        {% bootstrap_form estado_avance_form %}
                        <button class="btn btn-sm btn-primary" type="submit">Guardar</button>
                    </form>
				</div>
			</div>
		</div>
	</div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                {% for concepto_por_actividad in actividad_seleccionada.get_conceptos_por_actividad %}
                    <li class="{% if forloop.counter == 1 %}active{% else %}{% endif %}"><a href="#tab-{{concepto_por_actividad.id}}" data-toggle="tab">{{concepto_por_actividad.concepto.nombre}}</a></li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for concepto_por_actividad in actividad_seleccionada.get_conceptos_por_actividad %}
                    <div class="tab-pane fade {% if forloop.counter == 1 %}active in{% else %}{% endif %}" id="tab-{{concepto_por_actividad.id}}">
                        <div class="tree">
                            <div class="row">
                                <a href="#modal-dialog-grupo" class="btn btn-success" data-toggle="modal">Adicionar Grupo</a>
                                <a href="#modal-dialog-archivo" class="btn btn-success" data-toggle="modal">Adicionar Archivo</a>
                            </div>
                            <ul>
                                {% for grupo in concepto_por_actividad.get_grupos %}
                                    {%include "dashboard/grupos_tree.html" %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="modal fade" id="modal-dialog-archivo">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title">Adicionar Archivo</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form enctype="multipart/form-data" class="form-horizontal" method="post" action={% url 'tableroControlGuardarArchivo' %}>{% csrf_token %}
                                            {% bootstrap_form formArchivo layout="horizontal" %}
                                            <button class="btn btn-sm btn-primary pull-right" type="submit">Guardar</button>
                                        </form>
                                        <br/><br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="modal-dialog-grupo">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title">Adicionar Grupo</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal" method="post" action={% url 'tableroControlGuardarGrupo' %}>{% csrf_token %}
                                            {% bootstrap_form formGrupo layout="horizontal" %}
                                            <button class="btn btn-sm btn-primary pull-left" type="submit">Guardar</button>
                                        </form>
                                        <br/><br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
{% endblock %}
