{% extends "base.html" %}

{% block titulo %}
	Formulario Aspirante
{% endblock %}

{% block menu %}
	{% include "menus/publico.html" %}
{% endblock %}

{% block css %}
	<link href="{{STATIC_URL}}css/select2.css" rel="stylesheet" />
	<link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
	<style type="text/css">
		.espacio{
			margin-top: 10px;
		}
	</style>
{% endblock %}

{% block js %}
	<script src="{{STATIC_URL}}js/select2.js"></script>
	<script src="{{STATIC_URL}}plugins/bootstrap-wizard/js/bwizard.js"></script>
	<script src="{{STATIC_URL}}js/form-wizards.demo.min.js"></script>
	<script>
		$(document).ready(function() {
			FormWizard.init();
			$( "#form_firm" ).click();

		});
	</script>
{% endblock %}

{% block miga_pan %}
	<li><a href="javascript:;">Inicio</a></li>
	<li class="active">Formulario de Registro</li>
{% endblock %}

{% block titulo_contenido %}
	Formulario de Registro de Aspirantes
{% endblock %}

{% block titulo_panel %}
	Registro de Aspirantes
{% endblock %}

{% block contenido_panel %}
{% load bootstrap3 %}

	<form action="" method="POST">
		<div id="wizard">
			<ol>
				<li>
				    Datos Personales 
				</li>
				<li>
				    Formación Académica
				</li>
				<li>
				    Formación en TIC's
				</li>
				<li>
				    Conocimientos Específicos
				</li>
				<li>
				    Idiomas
				</li>
				<li>
				    Experiencia Formador en TIC's
				</li>
				<li id="form_firm">
				    Firma Servidor Público
				</li>
			</ol>
			<!-- begin wizard step-1 -->
			
			<div>
			</div>
			<!-- end wizard step-1 -->
			<!-- begin wizard step-2 -->
			<div>
			</div>
			<!-- end wizard step-2 -->
			<!-- begin wizard step-3 -->
			<div>
			</div>
			<!-- end wizard step-3 -->
			<!-- begin wizard step-4 -->
			<div>
			</div>
			<!-- end wizard step-4 -->
			<div>
			</div>
			<div>
			</div>
			<div>

				<div class="row">
					<div class="col-xs-12" align="center">
						<b>Faltan terminos y condiciones?</b>
					</div>
					<div class="col-xs-12">
					</div>
				</div>
			</div>
			
		</div>
	</form>
	
{% endblock %}