{% extends "base.html" %}

{% block titulo %}
	Tit@ - Inicio
{% endblock %}

{% block menu %}
	{% include "menus/publico.html" with opcion_menu=1 %}
{% endblock %}

{% block miga_pan %}
	<li><a href="javascript:;">Inicio</a></li>
	
{% endblock %}

{% block titulo_contenido %}
	Convocatoria a Formadores Etapa Presencial y Virtual
{% endblock %}

{% block titulo_panel %}
	Inicio
{% endblock %}

{% block contenido %}
	<div class="col-md-8">
		<div class="panel panel-primary">
		    <div class="panel-heading">
		        <h4 class="panel-title" style="font-size:15px">Inicio</h4>
			</div>
			<div class="panel-body" align="justify">
					    	
				<p style="font-size:20px; font-family:times">
					<center><b><h3>¿Qué es TIT@?</h3></b></center>

					TIT@ EDUCACION DIGITAL PARA TODOS”  es un proyecto cuyo propósito principal es integrar las nuevas tecnologías de la Información y la Comunicación (TIC) a los procesos pedagógicos. Tiene como entidad ejecutora la Alcaldía de Santiago de Cali y es financiado por el Sistema General de Regalías.<br><br>

					Se sustenta en el fortalecimiento de la formación de los docentes, la implementación de un proceso de gestión del cambio, el fortalecimiento de la capacidad de gestión de los directivos docentes, la infraestructura técnica, la conectividad y la generación de un Plan de Gestión TIC.<br><br>

					El desarrollo del proyecto permite la apropiación de las competencias del siglo XXI, que dará como resultados renovación de  prácticas en los procesos educativos y fortalecer los niveles académicos y de formación en estudiantes, docentes y directivos docentes del Departamento.

					<center><b><h3>Invitación a concursar</h3></b></center>

					Para su desarrollo,  las Alcaldías de Santiago de Cali,  Yumbo, Vijes, La Cumbre y Dagua, invitan a docentes nombrados de las diferentes Instituciones Educativas Oficiales de estos  municipios, a participar de la convocatoria para la  selección de sesenta (60) docentes interesados en recibir, durante cinco (5) semanas, el curso de formación en pedagogía integrando TIC.<br><br>

					De los docentes formados por  la Universidad del Valle, se seleccionará aquellos que serán contratados como Maestros Formadores para el desarrollo del programa de Formación en Pedagogía integrando TIC en las instituciones que participan en el proyecto, durante los ocho meses (8) del proceso de formación presencial y de acompañamiento.


					<center><b><h3>Cómo inscribirse</h3></b></center>

					Las inscripciones para los docentes interesados en hacer parte de este proceso, están abiertas desde el 8 al 18 de Agosto 2014 llenando el formulario de la convocatoria.
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<br>
		<img style="border-radius:10px; height:200px" src="/static/img/info/lead.jpg"><br><br>
		<img style="border-radius:10px; height:200px" src="/static/img/info/imagen7.jpg"><br><br>
		<img style="border-radius:10px; height:200px" src="/static/img/info/imagen11.jpg"><br><br>
		<img style="border-radius:10px; height:200px" src="/static/img/info/imagen15.jpg"><br><br>
		<img style="border-radius:10px; height:200px" src="/static/img/info/imagen14.jpg">
	</div>
{% endblock %}