{% extends "base.html" %}

{% block titulo %}
	Tit@ - Inicio
{% endblock %}

{% block menu %}
	{% include "menus/publico.html" with opcion_menu=1 %}
{% endblock %}

{% block miga_pan %}
	<li><a href="javascript:;">Inicio</a></li>
	<li class="active">Información General</li>
{% endblock %}

{% block titulo_contenido %}
	CONVOCATORIA A FORMADORES ETAPA PRESENCIAL Y VIRTUAL
{% endblock %}

{% block titulo_panel %}
	Información General
{% endblock %}

{% block contenido %}
	<div class="col-md-8">
		<div class="panel panel-primary">
		    <div class="panel-heading">
		        <h4 class="panel-title" style="font-size:15px">Información General</h4>
			</div>
			<div class="panel-body" align="justify">
					    	
				<p style="font-size:20px; font-family:times">
				El Proyecto Educación digital para todos, convoca a los interesados(as) en postular su nombre como Maestro(a)  Formador(a)  dentro del   <b><i>Programa de  formación docente en pedagogía mediada con TIC</i></b>,  como una estrategia pedagógica con énfasis en el desarrollo de competencias Siglo XXI, realizado mediante contrato interadministrativo entre la  UNIVERSIDAD DEL VALLE y la SEM.
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<br>
		<img style="border-radius:10px; height:200px" src="/static/img/info/lead.jpg">
	</div>
{% endblock %}