{% extends "base.html" %}

{% block titulo %}
	Tit@ - Información general
{% endblock %}

{% block menu %}
	{% include "menus/publico.html" with opcion_menu=3 %}
{% endblock %}

{% block miga_pan %}
	<li><a href="javascript:;">Inicio</a></li>
	<li class="active">Información general</li>
{% endblock %}

{% block titulo_contenido %}
	Convocatoria a Formadores Etapa Presencial y Virtual
{% endblock %}

{% block titulo_panel %}
	Información general
{% endblock %}

{% block contenido %}


	<div class="panel-group espacio" id="accordion">
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
						<i class="fa fa-plus-circle pull-right"></i> 
							Objetivo de la convocatoria
					</a>
				</h3>
			</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
				<p>Realizar un proceso de selección  de  docentes nombrados de las diferentes Instituciones Educativas Oficiales de los municipios de Santiago de Cali, Yumbo, Vijes, La Cumbre y Dagua, interesados en recibir el curso de Formación de Formadores que les habilita para concursar y actuar como ¨Maestros Formadores¨ en el desarrollo del proyecto: DESARROLLO Y EDUCACIÓN DIGITAL PARA TODOS</p>
			</div>
		</div>
		</div>
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
						<i class="fa fa-plus-circle pull-right"></i> 
							Descripción de la responsabilidad general de los docentes seleccionados PARA TOMAR LA FORMACIÓN	
					</a>
				</h3>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse">
				<div class="panel-body">
					<p>El docente seleccionado deberá estar en disposición de recibir el curso de Formación de Formadores en pedagogía integrando TIC, que contempla la realización de ciento sesenta y seis (160)  horas presenciales, en las instalaciones de la Universidad del Valle, y sesenta (69) horas virtuales.<br><br>

						Cupos disponibles para la formación: Cali cincuenta (50) cupos, Yumbo cuatro (4) cupos, Vijes, La Cumbre y Dagua dos (2) cupos cada uno.<br><br>

						Durante el curso de formación, el docente seleccionado se compromete con los objetivos específicos del programa de formación:<br><br>

						•	Apropiar elementos conceptuales y metodológicos relativos a la organización y la gestión del ejercicio profesional, para el desarrollo de las competencias del Siglo XXI.<br>
						•	Propiciar el uso de conceptos e instrumentos de análisis para la integración de las TIC en el ejercicio profesional.<br><br>

						Los criterios para certificar a los docentes en el curso de formación de formadores estarán  sujetos a la evaluación formativa teniendo en cuenta las competencias TIC para el desarrollo Profesional Docente del Ministerio de Educación Nacional (2013).  Igualmente se considera que para ser certificado como formador deberá cumplir con el  porcentaje de asistencia y cumplimiento de actividades establecido.<br><br>

						De los sesenta (60) docentes formados la Universidad del Valle seleccionara aquellos que serán contratados como docentes formadores para el desarrollo del programa de formación en pedagogía integrando TIC en las instituciones que participan en el proyecto.
						</p>
				</div>
			</div>
		</div>
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
						<i class="fa fa-plus-circle pull-right"></i> 
							Descripción de la responsabilidad general de los docentes seleccionados PARA SER CONTRATADOS como maestros formadores para el desarrollo del programa de formación de pedagogía integrando Tic's.
					</a>
				</h3>
			</div>
		<div id="collapseThree" class="panel-collapse collapse">
		<div class="panel-body">
				<p>El docente capacitado en el curso de Formación a Formadores en pedagogía integrando TIC, queda habilitado para participar en la selección de los docentes que tendrán a su cargo la multiplicación del curso y se compromete con  el proyecto y objetivos específicos del componente pedagógico:<br><br>
				•	Desarrollar el Programa de formación docente en uso  y apropiación de TIC con énfasis en competencias S XXI a los  Docentes Participantes, durante ciento cuarenta (140) horas presenciales, desarrolladas durante cinco (5) meses<br>
				•	Implementar el acompañamiento “in situ” durante el tiempo estipulado en el programa.<br>

				</p>
		</div>
		</div>
		</div>
		<div class="panel panel-inverse">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
					<i class="fa fa-plus-circle pull-right"></i> 
						Descripción general de las condiciones de los DOCENTES CONTRATADOS como maestros formadores para el desarrollo del programa de formación en pedagogía integrando tic's del proyectos "Desarrollo y educación digital para todos"
				</a>
			</h3>
		</div>
		<div id="collapseFour" class="panel-collapse collapse">
			<div class="panel-body">
				<p>Los docentes oficiales seleccionados para ser contratados como Maestros Formadores, para la implementación del programa de formación en pedagogía integrando TIC, en instituciones educativas oficiales de los municipios de Santiago de Cali, Yumbo, Vijes, La Cumbre y Dagua, recibirán, en calidad de contratistas de la Universidad del Valle, un pago remunerado mensual durante los ocho meses (8) que dura el proceso de formación presencial y de acompañamiento “in situ”.<br><br>
				Para ser contratado, el docente debe disponer de horario de su contra-jornada laboral durante los ocho meses (8) de duración del programa de formación.<br>
				La selección de los formadores tendrá en cuenta, de manera proporcional,  la jornada laboral de los docentes  de las instituciones educativas en las cuales se desarrollará el Programa de formación.

				</p>
											
										
			</div>
				        
		</div>
		</div>
		<div class="panel panel-inverse">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
					<i class="fa fa-plus-circle pull-right"></i> 
						Perfil de los candidatos a maestro formador
				</a>
			</h3>
		</div>
		<div id="collapsefive" class="panel-collapse collapse">
			<div class="panel-body">
				<p>Docente oficial nombrado en propiedad de las Secretarías de Educación de los municipios de Santiago de Cali, Yumbo, Vijes, La Cumbre y Dagua; con conocimiento de las Políticas Públicas  del Sector Educativo, con conocimiento y experiencia en procesos y – o proyectos de integración de TIC a la Educación, con capacidad de gestión, liderazgo y manejo de conflictos,  excelente manejo de Sistemas (Ofimáticas e internet web 2.0) y herramientas comunicativas – colaborativas. Deberá además estar en capacidad de trabajar bajo presión, con alto nivel de organización, responsabilidad y cumplimiento. 

				</p>	
											
										
			</div>
				        
		</div>
		</div>
</div>
	
{% endblock %}