{% extends "base.html" %}

{% block titulo %}
    Tit@ - Calendario
{% endblock %}

{% block menu %}
    {% include "menus/publico.html" with opcion_menu=4 %}
{% endblock %}

{% block miga_pan %}
	<li><a href="{% url 'home' %}">Inicio</a></li>
	<li class="active">Calendario del proceso</li>
{% endblock %}

{% block titulo_contenido %}
    Convocatoria a Formadores Etapa Presencial y Virtual
{% endblock %}

{% block titulo_panel %}
    Calendario del proceso
{% endblock %}

{% block contenido %}
<style>
table, th, td
{
    border-collapse:collapse;
    border:1px solid black;
}

th, td
{
    padding:15px;
}

</style>
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title" style="font-size:15px"><i class="fa fa-calendar"></i> Calendario del proceso</h4>
            </div>
            <div class="panel-body" align="justify">
                <table style="width:600px"; class = "table">
                    <tr>
                        <thead>
                            <td colspan="2" class="info">
                                <center>
                                <b>Cronograma selección de formadores</b>
                                </center>
                            </td>
                        </thead>
                    </tr>
                    <tbody>
                    <tr>
                        <td>
                            Inscripción de postulantes a formadores
                            
                        </td>
                        <td>
                            Desde Agosto 9  Hasta Agosto 22 de 2014
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Carga de soportes al sistema
                            
                        </td>
                        <td>
                            Hasta Septiembre 5 a la 1:00 PM.
                            
                        </td>
                    </tr>
                    </tbody>
                </table><br>
                <table style="width:600px"; class = "table">
                    <thead>
                    <tr>
                        <td colspan="2" class="info">
                            <center>
                            <b>Primer paso: preselección por puntaje de formulario en línea </b>
                            </center>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            Notificación a pre-seleccionados
                            
                        </td>
                        <td>
                            Agosto 22 de 2014 y Septiembre 5
                            
                        </td>
                    </tr>
                    </tbody>
                </table><br>
                <table style="width:600px"; class = "table">
                    <thead>
                    <tr>
                        <td colspan="2" class="info">
                            <center>
                            <b>Segundo paso: preselección por prueba técnica</b>
                            </center>                           
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Realización de prueba técnica 
                        </td>
                        <td>
                            Entre Agosto 25 y Septiembre 8
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Notificación a pre-seleccionados
                            
                        </td>
                        <td>
                            Agosto 28 y Septiembre 9
                            
                        </td>
                    </tr>
                </tbody>
            </table><br>
            <table style="width:600px"; class = "table">
                <thead>
                    <tr>
                    
                    
                        <td colspan="2" class="info">
                            <center>
                            <b>Tercer paso: preselección por entrevista</b>
                            </center>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Realización de entrevista
                            
                        </td>
                        <td>
                            Entre Agosto 29 y Septiembre  11
                            
                        </td>
                    </tr>
                </tbody>
            </table><br>
                
                        <center><b>
                            Notificación a seleccionados Septiembre 15 de 2014<br><br>                       
                        
                            Realización curso de formación a formadores desde Septiembre de 2014</b>
                        </center>
                            
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <br>
        <img style="border-radius:10px; height:200px" src="/static/img/info/imagen7.jpg">
    </div>
{% endblock %}