{% extends "base.html" %}

{% block titulo %}
	Tit@ - Registrarse

{% endblock %}
{% block css %}
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<style type="text/css">
.info, .exito, .alerta, .error {
       font-family:Arial, Helvetica, sans-serif; 
       font-size:13px;
       border: 1px solid;
       margin: 10px 0px;
       padding:15px 10px 15px 50px;
       background-repeat: no-repeat;
       background-position: 10px center;
       position:relative;
}
.info {
       color: #00529B;
       background-color: #BDE5F8;
       background-image: url('info.png');
}
.exito {
       color: #4F8A10;
       background-color: #DFF2BF;
       background-image:url('exito.png');
}
.alerta {
       color: #9F6000;
       background-color: #FEEFB3;
       background-image: url('alerta.png');
}
.error {
       color: #D8000C;
       background-color: #FFBABA;
       background-image: url('error.png');
}
</style>
<script type="text/javascript" src="jquery-1.2.6.js"></script>
<script type="text/javascript">
$(document).ready(function(){
       setTimeout(function(){ $(".mensajes").fadeOut(800).fadeIn(800).fadeOut(500).fadeIn(500).fadeOut(300);}, 3000); 
});
</script>

{% endblock %}

{% block menu %}
	{% include "menus/publico.html" %}
{% endblock %}

{% block miga_pan %}
	<li><a href="{% url 'home' %}">Inicio</a></li>
	<li class="active">Registrarse</li>
{% endblock %}

{% block titulo_contenido %}
	Registrarse
{% endblock %}

{% block titulo_panel %}
	Crear usuario
{% endblock %}

{% block contenido_panel %}


{% ifequal log 1 %}
<div class="alerta">El usuario {{usuario}} ya existe</div> 
{% endifequal %}
{% ifequal log 2 %}
<div class="exito">El usuario {{usuario}} se guardó correctamente</div> 
{% endifequal %}
{% ifequal log 3 %}
<div class="error">Las contraseñas no coinciden</div> 
{% endifequal %}

	<div class="row">
		<div class="col-xs-12">
				<div class="row">
<div class="col-sm-8">
	<div class="row">
				        		<div class="col-xs-12">
				        			<p>El Proyecto Educación digital para todos, convoca a los interesados(as) en postular su nombre como Maestro(a)  Formador(a)  dentro del   “Programa de  formación docente en pedagogía mediada con TIC”,  como una estrategia pedagógica con énfasis en el desarrollo de competencias Siglo XXI, realizado mediante contrato interadministrativo entre la  UNIVERSIDAD DEL VALE y la SEM.</p>
				        		</div>
				        	</div>

				        	<div class="panel-group espacio" id="accordion">
								<div class="panel panel-inverse">
									<div class="panel-heading">
										<h3 class="panel-title">
											<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
											    <i class="fa fa-plus-circle pull-right"></i> 
												Objetivo General de la Formación
											</a>
										</h3>
									</div>
									<div id="collapseOne" class="panel-collapse collapse in">
										<div class="panel-body">
											<p>Cualificar el proceso de formación pedagógica para integrar las Tecnologías de la Información y la Comunicación (TIC) en la práctica de los docentes de instituciones educativas de  Santiago de Cali, Yumbo, Dagua, La Cumbre y Vijes.</p>
										</div>
									</div>
								</div>
								<div class="panel panel-inverse">
									<div class="panel-heading">
										<h3 class="panel-title">
											<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
											    <i class="fa fa-plus-circle pull-right"></i> 
												Objetivos Específicos de la Formación
											</a>
										</h3>
									</div>
									<div id="collapseTwo" class="panel-collapse collapse">
										<div class="panel-body">
											<ul>
												<li>
													<p>
														Apropiar elementos conceptuales y metodológicos relativos a la organización y la gestión del ejercicio profesional, para el desarrollo de las competencias del Siglo XXI.
													</p>
												</li>
												<li>
													<p>
														Propiciar el uso de conceptos e instrumentos de análisis para la integración de las TIC en el ejercicio profesional.
													</p>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="panel panel-inverse">
									<div class="panel-heading">
										<h3 class="panel-title">
											<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
											    <i class="fa fa-plus-circle pull-right"></i> 
												Funciones de los maestros(as) formadores se encuentran
											</a>
										</h3>
									</div>
									<div id="collapseThree" class="panel-collapse collapse">
										<div class="panel-body">
											<ol>
												<li>
													<p>
														Desarrollar el Programa de formación docente en uso  y apropiación de TIC con énfasis en competencias S XXI a los  Docentes Participantes.
													</p>
												</li>
												<li>
													<p>
														Implementar el acompañamiento “in situ” durante el proceso.
													</p>
												</li>
											</ol>
										</div>
									</div>
								</div>
								<div class="panel panel-inverse">
									<div class="panel-heading">
										<h3 class="panel-title">
											<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
											    <i class="fa fa-plus-circle pull-right"></i> 
												Requisitos para Concursar
											</a>
										</h3>
									</div>
									<div id="collapseFour" class="panel-collapse collapse">
										<div class="panel-body">
											<div class="row">
												<div class="col-xs-12">
													<p><b>Formación Académica</b></p>
												</div>
												<div class="col-xs-12">
													<p>OBLIGATORIO</p>
													<ul>
														<li>
															Licenciados en educación preescolar, básica primaria, ciencias naturales, lengua castellana, matemáticas, ciencias sociales, tecnología, educación artística (y áreas relacionadas según acuerdo 098 de 2009) o profesionales no licenciados con título de pregrado afín (según acuerdo 098 de 2009) a las ciencias naturales, las matemáticas o la lengua castellana. (Da puntaje de partida)
														</li>
														<li>
															Cursos de formación en TIC  (Da puntaje de partida)
														</li>
													</ul>
												</div>
												<div class="col-xs-12">
													<p>PREFERIBLE</p>
													<ul>
														<li>
															Título de posgrado en áreas afines a TIC o educación  (suma puntos) 
														</li>
														<li>
															Cursos de formación a formadores TIC (suma puntos)
														</li>
													</ul>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-12">
													<p><b>Experiencia laboral</b></p>
												</div>
												<div class="col-xs-12">
													<p>OBLIGATORIO</p>
													<ul>
														<li>
															Experiencia certificada de mínimo 2 años como docente de básica o media. (Da puntaje de partida)
														</li>
														<li>
															Uso de TIC en la enseñanza de alguna de las áreas básicas del saber (ciencias, matemáticas, informática, artes, humanidades) o experiencia en el uso de plataformas e-learning o en el desarrollo de recursos educativos digitales  (Da puntaje de partida)
														</li>
													</ul>
												</div>
												<div class="col-xs-12">
													<p>PREFERIBLE</p>
													<ul>
														<li>
															Experiencia certificada de mínimo 2 años en procesos de formación de docentes.  (suma puntos)
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
				       
				    </div>
				</div>

	</div>
</div>
</div>
</div>
	
{% endblock %}