{% extends "base.html" %}

{% block titulo %}
	Tit@ - Requisitos
{% endblock %}

{% block menu %}
	{% include "menus/publico.html" with opcion_menu=5 %}
{% endblock %}

{% block miga_pan %}
	<li><a href="javascript:;">Inicio</a></li>
	<li class="active">Calendario</li>
{% endblock %}

{% block titulo_contenido %}
	Convocatoria a Formadores Etapa Presencial y Virtual
{% endblock %}

{% block titulo_panel %}
	Requisitos
{% endblock %}

{% block contenido %}
	<div class="col-md-8">
		<div class="panel panel-primary">
		    <div class="panel-heading">
		        <h4 class="panel-title" style="font-size:15px">Requisitos</h4>
			</div>
			<div class="panel-body" align="justify">
					    	
				<p style="font-size:20px; font-family:times">
					<ol>
					</ol>
					<H4>Formación Académica: </H4>

					<b>OBLIGATORIO: </b> <br>
					- Licenciados en educación preescolar, básica primaria, ciencias naturales, lengua castellana, matemáticas, ciencias sociales, tecnología, educación artística (y áreas relacionadas según acuerdo 098 de 2009) o profesionales no licenciados con título de pregrado afín (según acuerdo 098 de 2009) a las ciencias naturales, las matemáticas o la lengua castellana.<br>
					- Cursos de formación en TIC<br><br><br>


					<H4>Experiencia laboral: </H4>

					<b>OBLIGATORIO:</b> <br>
					- Experiencia certificada de mínimo 2 años como docente de básica o media.  <br>
					- Uso de TIC en la enseñanza de alguna de las áreas básicas del saber (ciencias, matemáticas, informática, artes, humanidades) o experiencia en el uso de plataformas e-learning o en el desarrollo de recursos educativos digitales 
				
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<br>
		<img style="border-radius:10px; height:200px" src="/static/img/info/imagen8.jpg">
	</div>
{% endblock %}