{% extends "base.html" %}
{% load bootstrap3 %}
{% load mytags %}
{% block css %}
    {{datosBasicosForm.media}}
    <style>
        label.control-label {
            font-weight: bold;
            
        }

        .bordered {
            border-style: dotted;
            border-width: 1px;
            padding: 3px;
            border-radius: 3px;
            border-color: gray;
            padding: 5px 10px 5px 10px;
        }


    </style>

    {{form.media}}
{% endblock %}


{% block titulo_contenido %}
    <label align="center">
        UNIVERSIDAD DEL VALLE
        <h4>PROYECTO CALI VIVE DIGITAL / TIT@ EDUCACIÓN DIGITAL PARA TODOS</h4>
        <h5>
            ENCUESTA SOBRE PERCEPCIONES Y HÁBITOS ACERCA DEL USO DE LAS TIC EN LOS PROCESOS DE ENSEÑANZA Y APRENDIZAJE (SEGUNDA APLICACIÓN)
            CUESTIONARIO PARA PADRES DE FAMILIA O ACUDIENTES
        </h5>
        Cuestionario para Padres de Familia
        <br>
        <b style="font-size:13px;">
            La información que se recoge en este cuestionario es confidencial y se utilizará exclusivamente con fines académicos.
        </b>                                                                                   

    </label>
{% endblock %}

{%block menu %}
    {% include "menus/publico.html" with opcion_menu='encuesta_padre' %}
{% endblock %}

{% block contenido %}

{% if form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        Faltan algunas preguntas por responder. Verifique los campos en color Rojo
    </div>
{% endif %}



<form method="POST"> {% csrf_token %}
    {% mypanel 'Información Personal y Socioeconómica Básica' %}
        <div class="form-horizontal">
            
            {% bootstrap_field form.jornada layout="horizontal" label_class="col-md-5" %}
            {% bootstrap_field form.question_368 layout="horizontal" label_class="col-md-5"%}
            {% bootstrap_field form.nombre layout="horizontal" label_class="col-md-5" %}            
        </div>
        {% bootstrap_field form.question_1 %}
        {% bootstrap_field form.institucion %}
        {% bootstrap_field form.question_2 %}
        
        
    {% endmypanel %}

    {% mypanel 'Uso Actual de Computador e Internet' %}
        {% bootstrap_field form.question_6 form_group_class='form-group bordered' %}
        {% bootstrap_field form.question_374 form_group_class='form-group bordered' %}
        {% bootstrap_field form.question_7 form_group_class='form-group bordered' %}
        {% bootstrap_field form.question_375 form_group_class='form-group bordered' %}
    {% endmypanel %}
        
    {% mypanel 'Percepciones Sobre el Uso de las TIC en los Procesos e Enseñanza y Aprendizaje' %}
        {% bootstrap_field form.question_8 form_group_class='form-group bordered' %}
        {% bootstrap_field form.question_9 form_group_class='form-group bordered' %}

        <div class="bordered">
            <label for="" class="control-label">
                13. Califique de 1 a 3 las siguientes materias según qué tanto le serviría a su hijo(a)
                utilizar Internet en cada una de ellas. Si cree que le servirían mucho marque 3, si cree que le servirían un poco marque 2 
                y si cree que le servirían muy poquito o nada marque 1.
            </label>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        {% for field in camposMaterias1 %}
                            {% bootstrap_field field layout="horizontal" label_class="col-md-3" field_class="col-md-6"  %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        {% for field in camposMaterias2 %}
                            {% bootstrap_field field layout="horizontal" label_class="col-md-3" field_class="col-md-6"  %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        
        <br>
        <div class="bordered">
            {% bootstrap_field form.question_32 %}
            {% bootstrap_field form.question_33 %}
        </div>
        <br>
        {% bootstrap_field form.question_29 form_group_class='form-group bordered' %}
        
    {% endmypanel %}

    {% mypanel 'Hábitos Sobre el Uso de las TIC en los Procesos de Enseñanza y Aprendizaje' %}
        <div class="bordered">
            {% bootstrap_field form.question_35 %}
            {% bootstrap_field form.question_36 %}
        </div>
        <br>
        <div class="bordered">
            <label class="control-label">
                19. De las siguientes herramientas seleccione con qué frecuencia las utiliza
            </label>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        {% for field in camposHerramientas1 %}
                            {% bootstrap_field field layout="horizontal" label_class="col-md-6" field_class="col-md-3"  %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        {% for field in camposHerramientas2 %}
                            {% bootstrap_field field layout="horizontal" label_class="col-md-6" field_class="col-md-3"  %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="bordered">
            {% bootstrap_field form.question_52 %}
            <div class="form-horizontal">
                {% bootstrap_field form.question_53 layout="horizontal" %}
            </div>
        </div>
        <br>
        <div class="bordered">
            {% bootstrap_field form.question_54 %}
            <div class="form-horizontal">
                {% bootstrap_field form.question_55 layout="horizontal" %}
            </div>
        </div>
    {% endmypanel %}

    {% mypanel 'Hábitos Sobre el Uso de las TIC en la Vida Cotidiana' %}
        
            {% bootstrap_field form.question_56 form_group_class='form-group bordered' %}

        <div class="bordered">   
            <label for="" class="control-label">
                ¿Para qué le sirven cada uno de los siguientes dispositivos? <small>Puede marcar varias respuestas para cada dispositivo.</small>
            </label> 
            <div class="row">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        {% for field in camposDispositivos1 %}
                            {% bootstrap_field field layout="horizontal" label_class="col-md-3" field_class="col-md-8"  %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        {% for field in camposDispositivos2 %}
                            {% bootstrap_field field layout="horizontal" label_class="col-md-3" field_class="col-md-8"  %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="bordered">
            {% bootstrap_field form.question_61 %}
            <div class="form-horizontal">
                {% bootstrap_field form.question_62 layout="horizontal" %}
            </div>
        </div>
        <br>
        <div class="bordered">
            {% bootstrap_field form.question_63 %}
            <div class="form-horizontal">
                {% bootstrap_field form.question_64 layout="horizontal" %}
            </div>
        </div>
        <br>
        <div class="bordered">   
            <label for="" class="control-label">
                29. ¿Qué hace cuando entra a internet y con qué frecuencia?
            </label> 
            <div class="row">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        {% for field in camposUsos1 %}
                            {% bootstrap_field field layout="horizontal" label_class="col-md-6" field_class="col-md-3"  %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        {% for field in camposUsos2 %}
                            {% bootstrap_field field layout="horizontal" label_class="col-md-6" field_class="col-md-3"  %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% bootstrap_field form.question_84 form_group_class='form-group bordered' %}
        {% bootstrap_field form.question_86 form_group_class='form-group bordered' %}
        {% bootstrap_field form.question_377 form_group_class='form-group bordered' %}
        {% bootstrap_field form.question_88 form_group_class='form-group bordered' %}
        {% bootstrap_field form.question_89 form_group_class='form-group bordered' %}
    {% endmypanel %}

    {% mypanel 'Expectativas Sobre el Uso de las TIC' %}
        <div class="bordered">   
            <label for="" class="control-label">
                35. Si se ganara un concurso y pudiera escoger del siguiente listado <b>tres</b> dispositivos ¿Cuáles escogería? Califique de 1 a 3 qué tan importante es para usted cada uno de esos tres dispositivos que seleccionó. Si es el más importante le pone 3, si es menos importante que el anterior le pone 2 y si es el menos importante que el anterior le pone 2 y si es el menos importante de los tres le pone 1.
            </label> 
            <div class="row">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        {% for field in camposExpectativas1 %}
                            {% bootstrap_field field layout="horizontal" label_class="col-md-6" field_class="col-md-3"  %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        {% for field in camposExpectativas2 %}
                            {% bootstrap_field field layout="horizontal" label_class="col-md-6" field_class="col-md-3"  %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="bordered">
            {% bootstrap_field form.question_98 %}
            <div class="form-horizontal">
                {% bootstrap_field form.question_99 layout="horizontal" %}
            </div>
        </div>
        <br>
        <div class="bordered">   
            <label for="" class="control-label">
                37. De los siguientes dispositivos escoja <b>tres</b> que lamentaría perder. Califique de 1 a 3 qué tan importante es para usted cada uno de esos tres dispositivos que lamentaría perder. Si es el más importante le pone 3, si es menos importante que el anterior le pone 2 y si es el menos importante de los tres le pone 1. 
            </label> 
            <div class="row">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        {% for field in camposLamentaria1 %}
                            {% bootstrap_field field layout="horizontal" label_class="col-md-6" field_class="col-md-3"  %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        {% for field in camposLamentaria2 %}
                            {% bootstrap_field field layout="horizontal" label_class="col-md-6" field_class="col-md-3"  %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endmypanel %}
    {% mypanel 'Simulación de Escenarios' %}
        <label>
            Como sabes, ya están llegando los equipos del proyecto Tit@ a las instituciones educativas y en cuestión de semanas estará completa la dotación. Ahora, imagínate que está todo el equipo requerido en tu salón de clases, que cuentas con la plataforma digital y que todos los estudiantes tienen acceso a los computadores. Dentro de la plataforma los docentes tienen, entre otras cosas, el gestor de aula, que es un sistema que les permitirá monitorear y ver lo que hace cada estudiante en su computador, calificar los exámenes en línea y entregar resultados de manera inmediata.
        </label>
        <br>
        <div class="bordered">
            {% bootstrap_field form.question_369 %}
            {% bootstrap_field form.question_370 %}
        </div>
    {% endmypanel %}
    
    {% mypanel 'Otros' %}
        {% bootstrap_field form.question_108 form_group_class='form-group bordered'%}
    {% endmypanel %}
    
    <br>
    <center><button type="submit" class="btn btn-success btn-lg">Enviar Encuesta</button></center>
    

</form>


{% endblock %}