{% extends "base.html" %}
{% load bootstrap3 %}
{% load mytags %}
{% block css %}
    {{datosBasicosForm.media}}
    <style>
        label.control-label {
            font-weight: bold;
            
        }

        .bordered {
            border-style: dotted;
            border-width: 1px;
            padding: 3px;
            border-radius: 3px;
            border-color: gray;
            padding: 5px 10px 5px 10px;
        }


    </style>

    {{form.media}}
{% endblock %}

{%block menu %}
    {% include "menus/publico.html" with opcion_menu='encuesta_docente' %}
{% endblock %}


{% block titulo_contenido %}
    <label align="center">
        UNIVERSIDAD DEL VALLE
        <h4>PROYECTO CALI VIVE DIGITAL / TIT@ EDUCACIÓN DIGITAL PARA TODOS</h4>
        <h5>
            ENCUESTA SOBRE PERCEPCIONES Y HÁBITOS ACERCA DEL USO DE LAS TIC EN LOS PROCESOS DE ENSEÑANZA Y APRENDIZAJE (SEGUNDA APLICACIÓN)
        </h5>
        Cuestionario para Docentes
        <br>
        <b style="font-size:13px;">
            La información que se recoge en este cuestionario es confidencial y se utilizará exclusivamente con fines académicos.
        </b>                                                                                   

    </label>
{% endblock %}

{% block contenido %}

{% if form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        Faltan algunas preguntas por responder. Verifique los campos en color Rojo
    </div>
{% endif %}

                                                                               



<form method="POST" onsubmit="deshabilitarBoton()"> {% csrf_token %}
    {% mypanel 'Información Personal y Socioeconómica Básica' %}
        <div class="form-horizontal">
            {% bootstrap_field form.question_01 layout="horizontal" label_class="col-md-5" %}
            {% bootstrap_field form.question_02 layout="horizontal" label_class="col-md-5" %}
            {% bootstrap_field form.question_03 layout="horizontal" label_class="col-md-5" %}
        </div>
    {% endmypanel %}
    {% mypanel 'Uso Actual de Computador e Internet' %}

        {% bootstrap_field form.question_04 form_group_class='form-group bordered' %}
        {% bootstrap_field form.question_05 form_group_class='form-group bordered' %}
        {% bootstrap_field form.question_06 form_group_class='form-group bordered' %}
        {% bootstrap_field form.question_07 form_group_class='form-group bordered' %}

    {% endmypanel %}

    {% mypanel 'Percepción Sobre el Uso de las TIC en los Procesos de Enseñanza y Aprendizaje' %}

        {% bootstrap_field form.question_08 form_group_class='form-group bordered' %} 

        <div class="bordered">
            <label class="control-label">
                9. Califique de 1 a 3 las siguientes materias según qué tanto le serviría utilizar Internet en cada una de ellas. Si cree que le serviría mucho marque 3, si cree que le serviría un poco marque 2 y si cree que le serviría muy poquito o nada marque 1.
            </label>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        {% for field in camposMaterias1 %}
                            {% bootstrap_field field layout="horizontal" label_class="col-md-6" field_class="col-md-3"  %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        {% for field in camposMaterias2 %}
                            {% bootstrap_field field layout="horizontal" label_class="col-md-6" field_class="col-md-3"  %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="bordered">
            {% bootstrap_field form.question_10 %}
            {% bootstrap_field form.question_11 %}
        </div>
        <br>
        {% bootstrap_field form.question_12 form_group_class='form-group bordered' %}

    {% endmypanel %}

    {% mypanel 'Hábitos Sobre los Usos de las TIC en los Procesos de Enseñanza y Aprendizaje' %}
        <div class="bordered">
            {% bootstrap_field form.question_13 %}
            {% bootstrap_field form.question_14 %}
        </div>
        <br>
        <div class="bordered">
            <label class="control-label">
                15. De las siguientes herramientas seleccione con qué frecuencia las utiliza:
            </label>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        {% for campo in camposHerramientas1 %}
                            {% bootstrap_field campo layout='horizontal' label_class='col-md-7' field_class='col-md-3' %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        {% for campo in camposHerramientas2 %}
                            {% bootstrap_field campo layout='horizontal' label_class='col-md-7' field_class='col-md-3' %}
                        {% endfor %}
                    </div>
                </div>
            </div>            
        </div>
        <br>
        <div class="bordered">
            {% bootstrap_field form.question_16 %}
            {% bootstrap_field form.question_1601 %}
        </div>
        <br>
        <div class="bordered">
            {% bootstrap_field form.question_17 %}
            {% bootstrap_field form.question_18 %}
        </div>
        <br>
        <div class="bordered">
            {% bootstrap_field form.question_19 %}
            {% bootstrap_field form.question_1901 %}
        </div>
        <br>
        <div class="bordered">
            {% bootstrap_field form.question_20 %}
            {% bootstrap_field form.question_21 %}
        </div>
        <br>
        {% bootstrap_field form.question_22 form_group_class='form-group bordered' %}
        <div class="bordered">
            {% bootstrap_field form.question_23 %}
            {% bootstrap_field form.question_2301 %}
        </div>
    {% endmypanel %}

    {% mypanel 'Hábitos Sobre el Uso de las TIC en la Vida Cotidiana' %}
    {% bootstrap_field form.question_24 form_group_class='form-group bordered' %}
    <div class="bordered">
            <label class="control-label">
                ¿Para qué le sirven cada uno de los siguientes dispositivos?
            </label>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        {% for campo in camposDispositivos1 %}
                            {% bootstrap_field campo layout='horizontal' label_class='col-md-3' field_class='col-md-8' %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        {% for campo in camposDispositivos2 %}
                            {% bootstrap_field campo layout='horizontal' label_class='col-md-3' field_class='col-md-8' %}
                        {% endfor %}
                    </div>
                </div>
            </div>            
        </div>
        <br>
        <div class="bordered">
            {% bootstrap_field form.question_29 %}
            {% bootstrap_field form.question_2901 %}
        </div>
        <br>
        <div class="bordered">
            {% bootstrap_field form.question_30 %}
            {% bootstrap_field form.question_3001 %}
        </div>
        <br>
        <div class="bordered">
            <label class="control-label">
                31. ¿Qué hace cuando entra a Internet y con qué frecuencia?
            </label>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        {% for campo in camposUsos1 %}
                            {% bootstrap_field campo layout='horizontal' label_class='col-md-7' field_class='col-md-3' %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        {% for campo in camposUsos2 %}
                            {% bootstrap_field campo layout='horizontal' label_class='col-md-7' field_class='col-md-3' %}
                        {% endfor %}
                    </div>
                </div>
            </div>            
        </div>
        <br>
        {% bootstrap_field form.question_32 form_group_class='form-group bordered' %}
        {% bootstrap_field form.question_33 form_group_class='form-group bordered' %}
        {% bootstrap_field form.question_34 form_group_class='form-group bordered' %}
        {% bootstrap_field form.question_35 form_group_class='form-group bordered' %}
        {% bootstrap_field form.question_36 form_group_class='form-group bordered' %}
    {% endmypanel %}

    {% mypanel 'Expectativas Sobre el Uso de las TIC' %}
    <div class="bordered">
        <label class="control-label">
             37. Si se ganaras un concurso y pudiera escoger del siguiente listado tres dispositivos ¿cuáles escogerías? Seleccione los tres dispositivos que desearía ganarse, según qué tan importantes son para ti (usted) cada uno de ellos. Es decir, seleccione en primer lugar el que sea más importante, en segundo lugar el que sea un poco menos importante que el anterior y en último lugar el menos importante de los tres dispositivos.
        </label>
        <div class="form-horizontal">
            {% bootstrap_field form.question_3701 label_class="col-md-5" layout="horizontal" %}
            {% bootstrap_field form.question_3702 label_class="col-md-5" layout="horizontal" %}            
            {% bootstrap_field form.question_3703 label_class="col-md-5" layout="horizontal" %}            
        </div>
    </div>
    <br>
    <div class="bordered">
        {% bootstrap_field form.question_38 %}
        {% bootstrap_field form.question_3801 %}
    </div>
    <br>
    <div class="bordered">
        <label class="control-label">
            39. De los siguientes dispositivos escoja tres que lamentaría perder. Seleccione los tres dispositivos que lamentaría perder según qué tan importantes son para usted cada uno de ellos. Es decir, selecciona en primer lugar el que sea más importante, en segundo lugar el que sea un poco menos importante que el anterior y en último lugar el menos importante de los tres dispositivos. 
        </label>
        <div class="form-horizontal">
            {% bootstrap_field form.question_3901 label_class="col-md-5" layout="horizontal" %}
            {% bootstrap_field form.question_3902 label_class="col-md-5" layout="horizontal" %}            
            {% bootstrap_field form.question_3903 label_class="col-md-5" layout="horizontal" %}
        </div>
    </div>
    <br>
    {% endmypanel %}

    {% mypanel 'Simulación de Escenarios' %}
        <label>
            Como sabe, ya están llegando los equipos del proyecto Tit@ a las instituciones educativas y en cuestión de semanas estará completa la dotación. Ahora, imagínese que está todo el equipo requerido en su salón de clases, cuenta con la plataforma digital y todos los estudiantes tienen acceso a los computadores. Dentro de la plataforma usted tiene, entre otras cosas, el gestor de aula, que es un sistema que les permitirá monitorear y ver lo que hace cada estudiante en su computador, calificar los exámenes en línea y entregar resultados de manera inmediata.
        </label>
        {% bootstrap_field form.question_40 form_group_class='form-group bordered' %}
        {% bootstrap_field form.question_41 form_group_class='form-group bordered' %}
        {% bootstrap_field form.question_42 form_group_class='form-group bordered' %}
    {% endmypanel %}
    {% mypanel 'Otros' %}
        {% bootstrap_field form.question_43 form_group_class='form-group bordered' %}

    {% endmypanel %}

    <br>
    <script>
        function deshabilitarBoton() {
            $('#btnEnviar').text('Enviando... Por favor espere').attr('disabled','disabled');
        }

    </script>
    <center><button id="btnEnviar" type="submit" class="btn btn-success btn-lg">Enviar Encuesta</button></center>
    
    
</form>


{% endblock %}