{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %} Lista de Estudiantes{% endblock %}

{% block menu %}
    {% include "menus/publico.html" with opcion_menu=10 %}
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    {{form.media}} {# agrega los js y css necesarios para el bootstrap3 datetimepicker #}
{% endblock %}

{% block js %}
    
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li><a href="{% url 'home' %}">Cursos</a></li>
    <li><a href="{% url 'home' %}">Clases</a></li>
    <li class="active">Estudiantes</li>
{% endblock %}

{% block titulo_contenido %} Clase del {{clase.fecha_inicio}}  {% endblock %}

{% block contenido %}

<ul class="nav nav-tabs">
    <li class="active"><a href="#"><h5>Asistencia</h5></a></li>
    {%comment%}<li><a href="{% url 'actividad' clase.id  %}"><h5>Actividades</h5></a></li>{%endcomment%}
    <li><a href="{% url 'actividad' clase.id  %}"><h5>Actividades</h5></a></li>

</ul>
<div class="tab-content">

    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div class="col-md-6">
            {%bootstrap_form form %}
        </div>
        {%comment%}
        <div class="col-md-6">
            <strong>Soportes de clase</strong>
            {%bootstrap_formset soportesFormset display_label=False %}
        </div>
        {%endcomment%}
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <button type="submit" class="btn btn-lg btn-primary">Guardar</button>
    </form>
</div>

{% endblock %}

