{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %} Lista de Estudiantes{% endblock %}

{% block menu %}
    {% include "menus/publico.html" with opcion_menu=10 %}
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    {{form.media}} {# agrega los js y css necesarios para el bootstrap3 datetimepicker #}
{% endblock %}

{% block js %}
    
{% endblock %}

{% block miga_pan %}
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li><a href="{% url 'listar_cursos_profesor' %}">Cursos</a></li>
    <li><a href="{% url 'listar_clases_curso' curso.id%}">Clases</a></li>
    <li class="active">Estudiantes</li>
{% endblock %}

{% block titulo_contenido %}Califique la asistencia:{% endblock %}

{% block titulo_panel %}<i class="fa fa-list-ul"></i> Listado de Estudiantes para la clase del {{clase.fecha_programada}}{% endblock %}
{% block contenido_panel %}


    
    
{% endblock %}