{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %} Listado de Cursos {% endblock %}

{% block menu %}
    {% include "menus/publico.html" with opcion_menu=10 %}
{% endblock %}

{% block css %}
    <link href="{{STATIC_URL}}plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    {{form.media}} {# agrega los js y css necesarios para el bootstrap3 datetimepicker #}
{% endblock %}

{% block js %}
    
{% endblock %}

{% block miga_pan %}
    <li><a href="javascript:;">Inicio</a></li>
    <li class="active">Cursos</li>
{% endblock %}

{% block titulo_contenido %}Listado de Cursos{% endblock %}

{% block titulo_panel %}<i class="fa fa-check-square-o"></i> Cursos Dictados{% endblock %}
{% block contenido_panel %}

    <table class="table" width="50%" >
        <thead>            
            <tr>
                <th>Institución</th>
                <th>Descripción</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos%}
            <tr>
                <td>{{curso.institucion|capfirst}}</td>
                <td>{{curso.descripcion}}</td>
                <td><a href="{% url 'listar_clases_curso' curso.id %}">Actividades</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>  
    
{% endblock %}